[2018-09-30 12:07] joostdecock opened #7 "preDraft and postDraft hooks cause pattern.draft() method to return undefined"
This was initially reported as https://github.com/freesewing/plugin-validate/issues/1

The reason this only happens with the validate plugin is because that's the only plugin to use the `preDraft` of `postDraft` hooks. Adding these hooks to any other plugin (I've tested with plugin-theme) causes the same issue.

It's a bit murky as to why exactly this is happening. I've swapped out the `hooks` NPM

[2018-09-30 14:28] joostdecock commented on #7
I've merged this workaround into the `develop` branch, and I think that at least for now, I'm going to move on.

Fixing this seems to require an overhaul of how plugins are handled/loaded. I don't have the bandwidth for that.

[2018-09-30 14:28] #7 closed

[2018-12-28 09:58] joostdecock opened #9 "Specifying a non-existing part in settings.only throws and error"
When specifying `only` as an array, including a non-existing part throws:

This should either throw a more descriptive error, or be handled more gracefully.

[2019-03-08 16:13] reeves99 opened #10 "Theodore pattern back pleat"
The back pleat seems to be too long.  It extends past the pocket line to the seat circumference narrowing the circumference at the pocket line.
![unnamed-2](https://user-images.githubusercontent.com/46247494/54040038-40788800-4179-11e9-90cb-d9a006eb0f52.jpg)

Also, as drafted, the pattern has too much ease at the crotch and not enough at the seat.  From what I can see the pattern doesn't use seat

[2019-03-08 16:40] joostdecock commented on #10
As is mentioned [on the pattern page](https://freesewing.org/patterns/theodore) Theo(dore) implements the Aldrich draft method. Which is, unfortunately, not great.

It uses few measurements, and is not very adapted to different scenarios. This means that for some people it works great, for others it doesn't.

This does not live up to our _made to measure_ sewing patterns goal, and sure enough, I c

[2019-03-08 16:40] #10 closed

[2019-03-08 17:07] reeves99 commented on #10
Hi Joost
Thanks for replying!!!
I must apologize for not carefully reading the Theodore documentation.  I
hope I haven’t offended you with my feedback....Because I’m deeply
appreciative of the time and effort you’ve put in to promote and encourage
the handmade garment movement.
I look forward to trying your new design.
I’ve been trying for two months to create a trouser pattern for myself. I
adjus

[2019-03-08 17:16] joostdecock commented on #10
Of course not, you did the right thing by creating this issue. It's just that I prefer to be honest about the shortcomings of the pattern.

Trousers aren't simple. I've got a trouser block [on my to-do list for 2 years or so](https://github.com/joostdecock/TrentTrouserBlock).

Making one that fits yourself is ultimately not that hard with some trial and error. But making one that fits a variety of

[2019-03-30 10:07] joostdecock opened #11 "Fix edge cases in dependency resolver"
These is (part of) the resolved dependencies in Carlton:

[code]

Obviously, this is not right.

[2019-04-19 20:06] stsydow opened #12 "models page stays completly blank - JS Error ?"
The models page stays completely blank.
The console shows the following Errors:

TypeError: "r.pictureUris is undefined"
    render Container.js:217
    render Container.js:193
    React 12
    v Redux
    setModels Base.js:125
    componentDidMount Base.js:55
    a es6.promise.js:75
    M es6.promise.js:92
    c _microtask.js:18
react-dom.production.min.js:194:186
TypeError: "r.pictureUris is und

[2019-04-20 17:56] joostdecock commented on #12
Based on the error message, I assume this is on beta.freesewing.org?

That frontend has fallen behind a bit on the work that's going on behind the scenes. Please check back in a couple of weeks.

[2019-04-20 17:56] #12 closed

[2019-06-12 07:03] joostdecock opened #643 "Collar is not drawn upside down in simon illustration"
[Simon writes](https://gitter.im/freesewing/freesewing?at=5d004239d81d4530812e384b):

And he is correct. The collar should be drawn upside down but it's not in this particular image:

![4a](https://user-images.githubusercontent.com/1708494/59330071-b5b3a600-8cf0-11e9-8a5c-a5808db0837a.png)

Note that this needs to be fixed in both this repo, and backported to the current website.
Also, I'm not eve

[2019-06-12 14:27] joostdecock commented on #11
I seem to remember that's been fixed :)

[2019-06-12 14:27] #11 closed

[2019-06-12 14:40] joostdecock commented on #9
Stale: closing

[2019-06-12 14:40] #9 closed

[2019-07-07 10:52] joostdecock opened #19 "An (almost) straight curve breaks the path offset code in bezierjs with error "cannot scale this curve. Try reducing it first.""
If you see a **cannot scale this curve. Try reducing it first.** you've hit this issue.
Strictly speaking, this is not an issue in freesewing/core, but in the upstream [bezierjs library](https://github.com/Pomax/bezierjs). Specifically, https://github.com/Pomax/bezierjs/issues/102 It happens when a Bezier curve becomes so straight it almost becomes a line. At which point the offset algorithm goes

[2019-07-07 11:09] joostdecock commented on #19
This needs to be rolled back once this issue is resolved: https://github.com/freesewing/freesewing/commit/75f935298d98ddbf0ef62b705e1078dddc90702a

(well, not the shorthand fix, that was actually a bug).

[2019-07-09 05:25] LeviFiction opened #21 "On Windows check for relative path fails on faveicon.ico"
I don't know if there is a better way to handle this. But this worked for my testing.

Add 'example\\public\\favicon.ico' to the template blacklist in the create freesewing pattern package.

REASON:
In the package, Create-freesewing-pattern.  The create-library.js library uses a blacklist set to ignore the faveicon.ico file.

This works on OSX and Linux but on Windows it returns an error

"Error:

[2019-07-09 05:26] joostdecock commented on #21
Thank you for such a detailed issue 👍
I'll fix this ASAP.

[2019-07-09 08:14] #21 closed

[2019-07-09 08:21] joostdecock commented on #21
Thanks again for reporting this. I've fixed it. Or at least I think I did, but I don't have a Windows machine, so it's hard to test these things.

The fix is published in [beta-29](https://www.npmjs.com/package/create-freesewing-pattern/v/2.0.0-beta.29), so you can install that version and it should be resolved.

If not, feel free to create a new issue.

[2019-07-13 15:22] joostdecock opened #25 "Bruce front part SA is not properly styled, and path isn't closed"
As reported by @paikea
![bruce](https://user-images.githubusercontent.com/1708494/61173371-ba3ed900-a592-11e9-953f-b6c2cd32f491.png)

[2019-07-14 10:20] joostdecock commented on #25
Fix confirmed. Closing.

[2019-07-14 10:20] #25 closed

[2019-07-17 01:02] kieranklaassen opened #26 "Unable to create an account via Oauth"
1. Sign up with either github or google

## Expected Behavior

It to sign me up

## Actual Behavior

It gives an error:

`https://backend.beta.freesewing.org/callback/from/google?state=5d2e72879b4ac16f227ba9dd&code=4/iQGXKkUQu4aL-dPUZzyz4lu6XL9_tVplHLT2sKCHZNstlBbQCtlacCoaf4LCzBMDTA6mDpbpj9P3FROaWLj7I-I&scope=email%20profile%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleap

[2019-07-17 01:06] kieranklaassen opened #27 "Unable to sign up, and login after email confirmation"
1. Sign up with new email and password
2. Click confirmation in email

# Expected

To be able to login on website

# Actual

Gives an error:

`Authentication failed`

## Notes:

https://beta.freesewing.org/confirm/signup/5d2e5cc89b4ac16f227ba9dc

[2019-07-17 07:58] joostdecock commented on #26
You're using beta.freesewing.org which has been superseded by en.freesewing.org.
That being said, we haven't implemented Oauth there (yet) but it's no surprise that this doesn't work.

We should get rid of beta.freesewing.org, as we're still working on the new site, we sometimes refer to it, which is why we keep it around.

If you want to try the new site, go to en.freesewing.org. Docs are at free

[2019-07-17 07:58] #26 closed

[2019-07-17 07:59] joostdecock commented on #27
You're using beta.freesewing.org which has been superseded by en.freesewing.org.

We should get rid of beta.freesewing.org, as we're still working on the new site, we sometimes refer to it, which is why we keep it around.

If you want to try the new site, go to en.freesewing.org. Docs are at freesewing.dev

[2019-07-17 07:59] #27 closed

[2019-07-27 21:31] jliu1016 commented on #19
I'm going to try look into it. (no promises though aha)

[2019-07-27 21:43] joostdecock commented on #19
No pressure. It's amazing you're willing to take a stab at it in the first place 🙏

[2019-08-12 18:14] greenkeeper[bot] opened #30 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-13 08:11] joostdecock opened #31 "Update links to gitter.im"
Since we've renamed our rooms, we need to update the links to them

[2019-08-13 16:57] #31 closed

[2019-08-18 09:52] joostdecock opened #41 "Add method to sort translated items"
We often have a need to sort things based on their translation (measurements, options and so on).
It would be good to add a method to the **utils** package that handles that.

[2019-08-18 11:03] joostdecock commented on #41
Added to a react component instead. Closing.

[2019-08-18 11:03] #41 closed

[2019-08-18 15:00] joostdecock opened #42 "Create linedrawings for all patterns"
We have a (new) [LineDrawing](https://github.com/freesewing/freesewing/tree/develop/packages/components/src/LineDrawing) React component which is supposed to show a linedrawing of a given pattern. Essentially, like an icon: a basic outline to give you an idea of what the pattern looks like.

The only problem is: The component doesn't (yet) have linedrawings in it, and returns the outline of the Gi

[2019-08-19 06:07] joostdecock opened #45 "Could not find intersection of facing/lining boundary with neckline"
![carlton](https://user-images.githubusercontent.com/1708494/63242577-1cf15780-c258-11e9-9649-6c71ebe98eff.png)

This can be reproduced by running the cypress `core` tests. It happens when comparing the pattern.

[2019-08-19 06:18] joostdecock opened #47 "t.points[e].clone is not a function"
![jaeger](https://user-images.githubusercontent.com/1708494/63243091-cbe26300-c259-11e9-8f3e-3c850301be8c.png)

This happens when running the cypress `core` tests, specifically when comparing.

[2019-08-19 06:21] joostdecock opened #48 "Cannot read property 'type' of undefined"
![sandy](https://user-images.githubusercontent.com/1708494/63243247-414e3380-c25a-11e9-8d83-e4fce1e09076.png)

Reproduces in the cypress `core` tests, specifically when comparing.

[2019-08-19 06:28] joostdecock opened #49 "Error in Path.shiftAlong(): Ran out of path to shift along. Distance requested was 10, path length isNaN."
![theo](https://user-images.githubusercontent.com/1708494/63243572-3e077780-c25b-11e9-8173-33e251639619.png)

Reproduced in the cypress `core` tests, specifically when comparing the pattern

[2019-08-19 06:31] joostdecock opened #50 "Cannot read property 'copy' of undefined"
![wahid](https://user-images.githubusercontent.com/1708494/63243706-a9514980-c25b-11e9-97a9-f9a801be8315.png)

Reproduced in cypress `core` tests, specifically when comparing the pattern.

[2019-08-19 14:47] joostdecock commented on #42
Created first batch of line drawings. See https://github.com/freesewing/artwork/tree/master/linedrawings

[2019-08-20 08:30] joostdecock commented on #42
Line drawings are done. They're not great, but they're done.

[2019-08-21 10:37] joostdecock commented on #42
This is done. It's not released yet, but it's in the develop branch

[2019-08-21 10:37] #42 closed

[2019-08-22 15:52] joostdecock commented on #49
This was due to the models package not containing the required measurements to draft Carlton.

It's been fixed by adding those measurements, but it's a bit of guesswork, so we may need to tweak those measurements later.

[2019-08-22 15:52] joostdecock commented on #45
This was due to the models package not containing the required measurements to draft Carlton.

It's been fixed by adding those measurements, but it's a bit of guesswork, so we may need to tweak those measurements later.

[2019-08-22 15:52] #45 closed

[2019-08-22 15:54] joostdecock commented on #47
This was due to the models package not containing the required measurements to draft Carlton.

[2019-08-22 15:54] #47 closed

[2019-08-22 15:55] joostdecock commented on #48
This was due to the models package not containing the required measurements to draft Carlton.

[2019-08-22 15:55] #48 closed

[2019-08-22 17:19] joostdecock commented on #50
This was in part due to missing measurements in the models package, but we've also made a change where the front facing/lining aren't included when sampling.

[2019-08-22 17:19] #50 closed

[2019-08-22 17:30] joostdecock commented on #49
This too was caused by missing measurements in the models package.

[2019-08-22 17:30] #49 closed

[2019-08-26 14:30] joostdecock opened #67 "Broken link in footer: FAQ should point to `/faq`"
The FAQ link in the footer points to /docs/faq but should point to /faq instead.

Just update this line: https://github.com/freesewing/freesewing/blob/develop/packages/components/src/Footer/index.js#L21

[2019-08-26 14:30] joostdecock commented on #67
Ah, this is actually in the Footer component. Closing in favor of https://github.com/freesewing/freesewing/issues/67

[2019-08-26 14:31] joostdecock commented on #67
Obviously I closed the wrong issue :)

[2019-08-26 14:36] sorchanidhubhghaill commented on #67
Did I fix it?

[2019-08-26 14:41] #67 closed

[2019-08-26 14:41] joostdecock commented on #67
You sure did :1st_place_medal:

[2019-08-27 09:58] joostdecock opened #76 "Double-vent jaeger throws error"
As initially reported in https://github.com/freesewing/freesewing.org/issues/64, Jaeger goes off the rails with a double-vent setup.

This happens in `draftSide()` with error:

[code]

[2019-08-27 10:00] joostdecock opened #77 "Jaeger vent option shouldn't be a slider"
It should be a radio button:

 - 0
 - 1
 - 2

but it's a slider.

[2019-08-27 14:32] joostdecock opened #78 "Theo has notches in inherited parts that shouldn't be there"
As shown here:

![Screenshot_2019-08-27 Choose a model(1)](https://user-images.githubusercontent.com/1708494/63780221-0e561080-c8e8-11e9-8851-de8c991f11aa.png)

Thanks to @GitBen2 for initially reporting this.

[2019-08-29 12:54] joostdecock opened #82 "Add a method to somehow score a measurement to detect mistakes"
See discussion here: https://gitter.im/freesewing/development?at=5d66f5cd3770ed0cbda630e3

[2019-09-01 11:48] artairdk opened #86 "seat circumference input area missing"
In Theo pattern, I noticed that it require seat circumference measurement however in both documentation tab and in the model page itself doesn't seem to list a way to input seat circumference.
Given that it's basically impossible to uses the pattern since it keeps saying necessary measurements is missing

[2019-09-01 17:20] joostdecock commented on #77
Actually, it's cool

[2019-09-01 17:20] #77 closed

[2019-09-02 05:29] #78 closed

[2019-09-02 12:51] joostdecock opened #90 "Provide translations for all pattern options"
Some patterns (like theo) don't have all their options translated, making them appear as their translation lookup key.

Initially reported in https://github.com/freesewing/freesewing.org/issues/67

[2019-09-02 15:21] joostdecock commented on #86
Well spotted. This has been fixed in freesewing v2.0.1, which is now deployed in production.

Or in other words, it's fixed :)

[2019-09-02 15:21] #86 closed

[2019-09-02 15:24] joostdecock commented on #82
This has been added. See the `measurementDiffers` method in the utils package.

[2019-09-02 15:24] #82 closed

[2019-09-02 15:25] joostdecock commented on #30
We've got dependabot instead

[2019-09-02 15:25] #30 closed

[2019-09-05 07:19] joostdecock opened #100 "Sizing issue in simon"
@GlassSteel writes:

Obviously, this is kind of a big deal. There's 3 things that come to mind that could cause this:

 - There's a bug in Simon
 - There's a bug in Brian
 - The option defaults and range are poorly chosen

[2019-09-05 14:43] GlassSteel commented on #100
If you can tell me a couple other patterns that inherit from Brian, I can try to determine if that's where the bug is.

[2019-09-05 15:36] joostdecock commented on #100
Patterns that inherit from Brian:

 - aaron
 - bent
 - huey
 - simon
 - sven
 - wahid

So if Sven looks ok, then it's most likely something simon-specific.

[2019-09-05 17:19] GlassSteel commented on #100
Spent some more time methodically comparing - paperless render is a big help. I made new-site Simons with my 36.5" chest measure and 0%, 8% (default), and 20% (max) chest ease settings. The resulting garment sizes at the chest are exactly what you would expect: 36.5*1, 36.5*1.08, and 36.5*1.20.

Note that at my chest size, the 8% default is a meager 2.92" ease at the chest - quite slim!

For the o

[2019-09-05 17:23] joostdecock commented on #100
Well, I guess that's good news. It just means the option defaults and range need to be tweaked, rather than an actual bug.

We'll roll this out in v2.0.2, hopefully no later than tomorrow.

Thank you so much for investigating this so thoroughly, much appreciated

[2019-09-05 17:23] GlassSteel commented on #100
By the above logic, Sven looks ok to me on both sites because the old version's fixed ease is about the same as the new version's 8% of my measure, both around 3 inches, good for a knit.

[2019-09-05 17:31] joostdecock commented on #100
Good to know. I must have messed up somehow with Simon 🤔

[2019-09-06 13:58] #90 closed

[2019-09-06 13:58] #100 closed

[2019-09-06 14:31] #76 closed

[2019-09-09 08:08] kieranklaassen opened #645 "When running docker compose: Unknown field 'allFsPatron' on type 'Query'"
Wehn running docker compose, the seed data is not populated and crashes the gatsby freesewing.org website.

Would it be possible that, when running docker compose, it always populates the seed data automatically?

[code]

[2019-09-12 15:01] joostdecock opened #644 "Reference parts by Nr in the cutting docs"
This is to avoid issues with translation

[2019-09-13 07:31] joostdecock opened #104 "Workspace pattern export doesn't disable embed setting"
Needs the same fix as https://github.com/freesewing/freesewing.org/commit/f78278f9acb96c53dab0c150599a8229e9d99b29

[2019-09-14 22:39] grimlokason opened #106 "No hem allowance on bruce V2.0.1 and 2.0.2"
Hello,

I tried  to make a pattern of bruce, but it seem that the hem allowance is not anymore here on
side and inset, while it's still here on back.

My recipe :

[code]

the result :
[pattern-a4(4).pdf](https://github.com/freesewing/freesewing/files/3613196/pattern-a4.4.pdf)

It also seem that the side part is upside down,  ( the fitting was better with the largest part on the leg and the short

[2019-09-15 09:54] joostdecock commented on #106
Well spotted @grimlokason thanks for reporting this :+1:

You are correct, the hem allowance is missing. We'll get to fixing that ASAP.

However, the side part is not upside down. If you find the legs too narrow, you might want to tweak the **Leg stretch** setting in Bruce.

[2019-09-15 10:09] #106 closed

[2019-09-15 10:29] joostdecock commented on #104
I missed this for the v2.0.3 release. We should address this in the next one.

[2019-09-15 13:10] joostdecock commented on #106
This has been fixed in v2.0.3 which is now deployed on freesewing.org

[2019-09-17 05:57] joostdecock opened #108 "Carlton tail width is incorrect"
The width of the Carlton coat tail is incorrect. (hat-tip to @SennettTailor for reporting this).

Although the initial complaint was that it was too wide, turns out it's too narrow.
This is carlton in v2.0.3:

![carlton-wrong](https://user-images.githubusercontent.com/1708494/65014898-46b5a100-d920-11e9-9f5b-88a9ebd9f08f.png)

The key thing here is to understand how the back is pleated, which I've

[2019-09-17 08:42] #104 closed

[2019-09-17 08:42] #108 closed

[2019-09-17 10:35] SennettTailor commented on #108
Thanks @joostdecock . Appreciate the prompt response. You are right, the way i imagined the fold of the pleat was different. i was using my imagination and make the ends meet best possible ;)
Your folding instructions above are clear.. i managed to follow and fold..
![IMG_9005](https://user-images.githubusercontent.com/55401821/65034532-d176ba00-d979-11e9-80fc-a92f13acee56.JPG)
![IMG_9006](https:/

[2019-09-17 11:30] joostdecock commented on #108
Thanks for the confirmation @SennettTailor v2.0.4 has been deployed on freesewing.org so you can go there and get the updated version of your pattern.

Tip: You can choose to only print the tail part. Enable the advanced settings (under settings -> advanced).
Then, in the advanced subsection of the settings, set Content to Custom, and only tick the parts.tail box.

Thanks again, and please don't h

[2019-09-17 11:32] joostdecock commented on #108
Oh, one more thing. On the actual coat, the box pleat is outwards. So on the paper you folded above, the upper side of the paper would in this case be the inside of the coat.

Just to avoid confusion ;)

[2019-09-17 11:35] SennettTailor commented on #108
thanks.

[2019-09-17 17:58] dependabot-preview[bot] opened #109 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-17 17:58] #109 closed

[2019-09-17 17:58] dependabot-preview[bot] opened #110 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-17 18:20] #110 closed

[2019-09-17 18:20] dependabot-preview[bot] opened #112 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-17 18:22] joostdecock opened #113 "Penelope lengthBonus option is not taken into account"
The problem lies in [line 21 of shape.js](https://github.com/freesewing/freesewing/blob/develop/packages/penelope/src/shape.js#L21)

[code]

But skirtLength is a percentage option. So it should be something like:

[code]

I also think it makes more sense to draw the exact skirt, and handle the hem length in SA since that's how it's on all other patterns (just to clarify why I left it out of the up

[2019-09-17 18:24] #112 closed

[2019-09-17 18:24] dependabot-preview[bot] opened #114 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-17 18:27] joostdecock opened #115 "Penelope hem option influences the length of the split"
The hem option does what it does, but also seems to influence the length of the split. Which is an unwanted side-effect.

[2019-09-17 18:30] joostdecock commented on #113
I think the same issue applies to the seatEase and waistEase options.

I didn't really dig in to it, but sampling them seems to indicate that there's not much going on:

![Screenshot_2019-09-17 penelope(1)](https://user-images.githubusercontent.com/1708494/65068958-fbd07380-d989-11e9-8ceb-8c3cdf03c021.png)

[2019-09-17 18:32] joostdecock opened #116 "HipsCircumfernce measurement is not used in Penelope (yet listed as required)"
Subject says it all :)

[2019-09-17 21:45] woutervdub commented on #113
seatEase and waistEase are very small. It's a pencil skirt, and it's supposed to be tight. They are in mm and vary between 0 and 15, defaulting at 5.

The length was a big oops. That's what I get for trying to accomodate ant lady.

[2019-09-17 21:49] woutervdub commented on #113
Fixed

[2019-09-18 05:22] #114 closed

[2019-09-18 05:22] dependabot-preview[bot] opened #122 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-18 15:12] joostdecock opened #123 "Add boxpleat to simon"
Subject says it all

[2019-09-19 05:35] dependabot-preview[bot] opened #124 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-19 05:35] #122 closed

[2019-09-20 05:25] #124 closed

[2019-09-20 05:25] dependabot-preview[bot] opened #125 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-21 14:11] #113 closed

[2019-09-21 17:49] #116 closed

[2019-09-21 17:49] #115 closed

[2019-09-21 18:02] #125 closed

[2019-09-21 18:47] #123 closed

[2019-09-27 15:03] joostdecock opened #1199 "Missing/Incorrect illustrations for pattern options"
Below is a list of illustrations that are missing. Note that some illustrations are (currently) not available on the website, but we do have them (they just haven't been published yet). The ones below are ones that still need to be drawn:

## Missing illustrations

These are illustrations that have never been made. These should be priority.

 - [ ] **Bent**
    - [ ] Sleeve bend
    - [ ] Sleeveca

[2019-09-27 15:54] joostdecock opened #1198 "Add missing instructions for Carlton/Carlita"
Carton and Carlita are missing instructions. Specifically:

 - [ ] Cutting instructions
 - [ ] Fabric guidelines
 - [ ] Requirements

[2019-10-02 07:32] joostdecock opened #147 "Missing i18n strings"
- Estimate (app.estimate)
 - Actual (app.actual)

[2019-10-03 10:45] #147 closed

[2019-10-04 08:38] joostdecock opened #153 "Simone SA is not adapted to FBA"

[2019-10-06 09:29] joostdecock commented on #153
Fixed in https://github.com/freesewing/freesewing/commit/ca5c58f8abad4c1643a7ba24a91dc620bb2ab05c

[2019-10-06 09:29] #153 closed

[2019-10-12 15:13] joostdecock opened #163 "Show example of using remark-jargon without gatsby"
There's no instructions on using remark-jargon without gatsby, that should be fixed.

[2019-10-13 14:49] joostdecock commented on #163
Done

[2019-10-13 14:49] #163 closed

[2019-10-26 13:50] tomByrer opened #186 "+department: unisex"
eg:

https://freesewing.org/blog/freesewing-v2-1

https://freesewing.org/patterns/waralee

Could require joins for searches by sex, but could get around that by just having a 3rd sex.

[2019-10-26 14:39] joostdecock commented on #186
That's a fair point. I'll add it to the next patch release.

[2019-10-29 16:29] grimlokason opened #187 "Strange path on wahid."
Hello,

There is probably 3 "issues" with Wahid:
- With my principal model without modification ( https://en.freesewing.org/create/wahid/for/idcke ) we can see 2 strange path on the armhole.
- Without any modification, it crashed and asked me to disable seam allowance.

The output of the model :   [pattern-full.pdf](https://github.com/freesewing/freesewing/files/3784649/pattern-full.pdf)

Best Reg

[2019-10-29 16:46] joostdecock commented on #187
Thank you for your feedback. I will look into the armhole issues adap.

The other problem is due to #19 which is unfortunately an upstream issue.

[2019-10-30 14:51] grimlokason commented on #187
My bad, you're right, there was some issue with the way we took my measurments due to some lack of  english anatomy vocabulary.

Thank you !

[2019-10-30 14:51] #187 closed

[2019-10-31 08:00] joostdecock commented on #187
Glad we could help :) Don't hesitate to reach out next time you bump into something.

[2019-11-01 18:30] #186 closed

[2019-11-16 00:02] woolishboy opened #203 "Detect high chest/shoulder ratio in Brian and (suggest to) draft an off-the-shoulder sleeve for better fit"
The drafting method for the armhole doesn't seem to scale well with larger measurements. From some light testing, it seems that it doesn't scale well with biceps circumference and in my case results in an armhole that is at least 50% over ideal and too big to be wearable.

[2019-11-16 07:59] joostdecock commented on #203
Can you share your username on the site, and the model you're drafting for. That way I can look into what's going on exactly.

[2019-11-18 18:58] joostdecock commented on #203
*copied from chat because it might be useful info to others*

The length of the armhole essentially boils down to two things:

  -  How deep is the armhole vertically
  -  How deep into the back cuts the armhole (horizontally)

It seems like in your case, the main issue is that the armhole is cut too deep horizontally, thereby significantly lengthening the armhole seam.
The reason we draft it that

[2019-12-08 16:59] joostdecock opened #227 "Jaeger tests fail to sample rollLineCollarHeight"
[code]

For some reason, this happens with size 40 measurements (the defaults for automated tests) but I can't seem to reproduce this for other sizes/measurements.

[2020-01-03 20:31] grimlokason opened #253 "cuff to short or wrist part of sleeve to large on simon"
Hello,

It seems that the cuff is too short when setted to barrel cuff to the wrist part of the sleeve + the button placket.
For exemple in : https://freesewing.org/recreate/falyi/for/nefri it's 18,75 when setted to barrel ( button to hole : 16,5 ) , and 20,63cm if it's french cuff (button to hole : 17,25 )

NB : the wrist measurment was 15cm and the ease was 10% so i assume it's there is somethin

[2020-01-04 14:19] joostdecock commented on #253
From what you describe, I don't think there's a problem.
Your wrist circumference is 15cm, and you asked for 10% ease. 10% of 15cm is 1.5cm so the cuff should be 15+1.5 = 16.5cm. You say yourself that the barrel cuff button to buttonhole = 16.5cm which means it's exactly what we'd expect it to be.

Perhaps the issue is that the cuff is shorter than the bottom of the sleeve? That's because there's

[2020-01-04 15:06] grimlokason commented on #253
Hello,
Sorry, i've been doing more test and analyse while writting the issue and i was thinking that the default was in the cuff part at start, that's why it's not well explained >.<

From what i understand, if we set the cuff to barrel cuff, the bottom of the sleeve should be :
width = measurements.wristCircumference * (1 + options.cuffEase + options.cuffOverlap) ( so a little more than 18,75 sin

[2020-01-06 13:35] joostdecock commented on #253
Congratulations, you found a bug :) but it's not what you think it is. Allow me to explain:

You are correct that the sleeve width should change. But it's not because of the missing `{` and `}`.
In JavaScript, an `if` doesn't require curly braces if there's only 1 line inside the block guarded by the if statement.

For example, all these code snippets have the same result:

[code]

So this:

[code

[2020-01-17 12:21] globalcitizen opened #257 "Explain that pattern names are bound by the constraints of NPM package names (in create-freesewing-pattern)"
I decided to try your framework out to mark up a simple library bag, but couldn't.

## Steps to reproduce

Using [get started in seconds](https://freesewing.dev/) instructions:

[code]

## Expected behavior

Everything installs and we can try it out.

## Observed behavior

Crashes asking for `Pattern name:` and refuses to continue when pressing enter. Only possible to break out with CTRL+C.

<img

[2020-01-17 12:25] globalcitizen commented on #257
I seem to have figured it out. It won't work with a leading capital. This is sort of ridiculous.

[2020-01-17 12:26] joostdecock commented on #257
Well that ain't great. Thanks for reporting this, I'll look into it ASAP.

[2020-01-17 12:30] joostdecock commented on #257
Those are the rules for NPM package names. We should perhaps make it more clear that the name you choose here will become the name of the package (should you decide to publish it).

[2020-01-17 12:41] globalcitizen commented on #257
I suggest making it clear you expect lowercase, or automatically converting to lowercase.

As a new user, knowing nothing about your setup or npm package naming rules, I just want to try the adjustable size pattern thing, and I get stuck at step 1 with no explanation.

[2020-01-18 11:02] joostdecock commented on #253
Fixed in v2.1.9

[2020-01-18 11:02] #253 closed

[2020-01-18 11:03] joostdecock commented on #19
Upstream fix is part of v2.1.9

[2020-01-18 11:03] #19 closed

[2020-01-25 13:23] joostdecock commented on #203
I don't have the bandwidth to roll this into v2.2, so I've set the v2.3 milestone on this.

[2020-01-25 13:27] joostdecock commented on #257
v2.2 is planned to go out next weekend, and this should be addressed in it.

[2020-01-25 15:08] joostdecock commented on #257
Fixed:

![cfp](https://user-images.githubusercontent.com/1708494/73123105-5eff9180-3f8c-11ea-9314-5bf76c6bd63a.png)

[2020-01-25 15:08] #257 closed

[2020-03-06 10:44] joostdecock opened #298 "Include person name on pattern pieces"
Melissa [writes](https://twitter.com/fehrtrade/status/1235877897791041536):

It's a good suggestion. We should look in to this.

[2020-03-16 10:14] joostdecock opened #317 "Fix unit test in Breanna"
I've started adding unit tests for all patterns. There's a number of tests that fail for Penelope:

 - [ ] Darft pattern for size40 (no breasts)
 - [ ] Sample the `naturalWaist` measurment
 - [ ] Sample the `dartMinimumWidth` option
 - [ ] Sample the `curvePlacement` option
 - [ ] Sample the `dartToSideSeamFactor` option
 - [ ] Sample the pattern for different models

[2020-03-16 10:16] joostdecock commented on #317
@woutervdub I've assigned this to you, since you're most familiar with Penelope.
No worries if you don't have the bandwidth for it, eventually someone will pick it up :)

[2020-03-16 16:03] RomanaLa opened #1197 "Use same precision in sliders and shown values for pattern options"
For example with custom seam allowance: I can move the slider 10 units before the shown value for the seam allowance changes. I would prefer to have the same precision in the shown values as on the sliders so I can see the exact number that I chose with the slider.
I used metric units.

[2020-04-04 10:07] joostdecock commented on #298
Implemented

[2020-04-04 10:07] #298 closed

[2020-04-08 05:36] joostdecock opened #356 "Breanna: o.scyeDart1.shiftTowards is not a function"
Oh no!
There was an unexpected problem. Please report this.

TypeError: o.scyeDart1.shiftTowards is not a function

Stack trace

1/vG/P.prototype.draftFrontBase@https://freesewing.org/component---src-pages-create-design-for-person-js-69c99b4bc98b598b6230.js:1:35210
AxEy/J.prototype.draft@https://freesewing.org/component---src-pages-create-design-for-person-js-69c99b4bc98b598b6230.js:1:655469
rlTK/

[2020-04-11 08:35] joostdecock opened #357 "Discuss: Add a `raise` method to allow developers to raise events"
I'd like to add a way for developers to raise events (warnings, errors, and so on) to the user when the pattern is generated.
This is something that I at one point wanted to add (there's a Part.debug() method for one thing) but it never really materialized into something that I think is very good.

I'd like to change that. Rip out the current debug stuff (which isn't used) and put in a new system

[2020-04-11 08:36] joostdecock opened #358 "Make shoulder slope a 'degree' measurement"
## Implementation to-do

 - [x] Update models package
 - [x] Update `neckstimate` method in utils
 - [x] Add `isDegMeasurement` to utils
 - [x] Add support for degree measurement in workbench
 - [x] Port patterns to new `shoulderSlope` measurement
    - [x] aaron
    - [x] benjamin
    - [x] bent
    - [x] breanna
    - [x] brian
    - [x] bruce
    - [x] carlita
    - [x] carlton
    - [x] cathri

[2020-04-11 08:37] joostdecock opened #359 "Discuss: Moving common pattern features to plugins"
I had a discussion in our chat room recently with AlfaLyr about armholes and pattern inheritance. It essentially boils down to the fact that pattern inheritence (basing one pattern on another) works fine when patterns are closely related (like how Carlita is based on Carlton) but don't work so well when they are not (she was trying to make a bodice block for women based on Brian).

Our discussion

[2020-04-11 08:50] joostdecock opened #360 "Discuss: Use 3D modelling tools to test/show different patterns and options"
This is an idea that's been explored on that chat, after initially being suggested via email by one of our users.

The idea is to use 3D modelling tools to test-drive patterns and their different options on virtual avatars. It could also be useful for documenting all the different pattern options.

I did some initial fooling around with [clo3d](https://www.clo3d.com/) which yielded this result:

!

[2020-04-12 10:35] joostdecock opened #361 "Discuss: Revert on the use of breast/no-breasts when we mean men/women while respecting that gender is a fluid concept"
On freesewing.org, we refer to people either having breasts or no breasts when we mean men/women.
We do this because we want to be inclusive. Men/Women comes with a whole lot of bagage/expectations whereas breasts/no-breasts just says what it comes down to: do you have breasts or not?

While that is a good thing, the reality is that for the vast majority of people, this phrasing is confusing. To t

[2020-04-12 10:59] Slylele commented on #361
yes... it is complicated...
Mainly if you look at this distinction on the standard sizing tables... Here we can see that Men/Women is a real sexual morphology consideration as for a same measure, the size won't be the same...
From my point of view menswear/womenswear is not really better than men/women because for a hoodie (for example); it's neither menswear or womenswear...
I'm going to think ab

[2020-04-12 11:03] stoffsuchti commented on #361
I understand the trouble it can do, when you use gender inclusive terms like „with breasts/without breasts“ but for me it was always a symbol that FreeSewing is really really strong on this inclusive path, finds ways to overcome the term used by the (fast) fashion industry und being really inclusive, modern, and postgender. So i would love, when the term with breasts/without breast can stay on Fre

[2020-04-12 11:08] joostdecock commented on #361
I think things have gotten more complicated since we started offering standard sizes.
When adding people, I think it still makes sense:

![Screenshot_2020-04-12 Add Person](https://user-images.githubusercontent.com/1708494/79067223-271c0680-7cbe-11ea-8ee5-77300b35916e.png)

But in the standard sizes, it is really confusing:

![Screenshot_2020-04-12 Choose a person](https://user-images.githubuserco

[2020-04-12 11:20] stoffsuchti commented on #361
I really like the elegance of the Term #withbreasts / #withoutbreasts. I would be really sad if we sacrifice them.

I would rather call also the standard sizes like that, and a an explanation/translation for persons not fluent to gender inclusive language and term. Like you add al little i in a circle at the end of that term #withbreasts and when the user clicks on she/he can see the explanation,

[2020-04-12 11:46] joostdecock commented on #361
Well I for one am not in the business of making @stoffsuchti sad :)

I think that terminology is fine when referring to people. It's just confusing in the context of standard sizes. Could we perhaps use icons to side-step having to 'name' those?

![heshe](https://user-images.githubusercontent.com/1708494/79068006-dc9d8880-7cc3-11ea-930d-3b5eff7709dd.png)

Would this be clear to everyone?

[2020-04-12 12:16] CatherineH commented on #361
I started making a pattern for baby clothes. Is that menswear, womenswear or accessories?

[2020-04-12 12:21] joostdecock commented on #361
We can add a category. That's not a problem :)

[2020-04-12 12:39] stoffsuchti commented on #361
Yaeh it would be clear, but the symbol are a bit sex centred someperson can argue. What are the main difference in our standard size tables? Total body length, breasts / no breasts and the ratio of chest with, waist with and hip with? The Symbols we use should illustrate that main differences and not focus on iconising primary sexual organs. In this way I hope it should be intuitive to the most hu

[2020-04-12 12:43] CatherineH commented on #361
little off topic, but as an American I already find the "standard sizes" confusing.

[2020-04-12 12:47] joostdecock commented on #361
Could you clarify why @CatherineH ?

 - Is it because you expect **S M L XL** and so on?
 - Is the word **standard** confusing?
 - Some other reason?

[2020-04-12 12:52] CatherineH commented on #361
I would expect S M L etc or the US dress size standard (0, 2, 4, 6, etc). I can walk into an American or Canadian clothing shop and know what size to pick up in those sizing standards, but not what freesewing uses. The UK uses a different dress size standard too.

[2020-04-12 13:26] joostdecock commented on #361
I'll try to make a mockup to see if we can use some sort of symbolism and make the sizes more straight-forward.

[2020-04-12 14:18] Slylele commented on #361
I think that for size table we can just add an explanation that these sizes come from Standard industry and then is still relative to gender... Just set
- "With breasts (based on women standard sizes)"
- "Without breasts (based on men standards sizes)"
Then we keep this notion on the size table (as it comes from existing tables actually based on sexual distinction), but everywhere else on the web

[2020-04-12 14:35] stoffsuchti commented on #361
@Slylele yay your suggestion ist great. 😍👍

[2020-04-12 15:09] bendybytch commented on #361
I’m going to be blunt. If this reversion happens, it will mean I can’t use the site anymore. Dysphoria is real and it is deadly- look up the suicide rates among trans people, then double it to account for all of the closeted or uncategorizable people. I have breasts, but that does not mean anything about my gender.
I also don’t think that breasts/no breasts is confusing anyone. Declaring that peop

[2020-04-12 15:12] kieranklaassen opened #362 "feat: add a design system to freesewing.org"
to make it easier to make design decisions, let's add a very simple design system or find the system that's already in use to make improving the UX and UI a little bit more straight forward.

We use material UI ad a DS, but we do also a lot of custom things and have custom layouts. It would be nice to have everything defined a bit.

[2020-04-12 15:14] kieranklaassen commented on #360
This would be soooo cool!! 👯‍♂️

[2020-04-12 15:23] joostdecock commented on #362
This is a great initiative :)
Some things that are perhaps not obvious to the casual observer:

 - We use [material-ui](https://material-ui.com/), but not really the layout components. Really just form elements, buttons and so on
 - We use colors from [open-color](https://yeun.github.io/open-color/) Not all of them obviously, but if you need a color or gray tint, this is the place to be. We also h

[2020-04-12 16:55] AlfaLyr commented on #361
This is not simple. While yeah, I agree that breasts/not breasts is not confusing, there are a lot of cases to consider, not only trans people. The thing is that the standard sizes separate men and women not only by breasts/no breasts, but the proportions are different. If you categorize sizes into breasts/no breasts you are leaving out, for example, as someone mention, women that went through a m

[2020-04-12 17:38] joostdecock commented on #361
@bendybytch I should clarify that our concern is with how we label our range of standard sizes.
The people who go through the trouble of adding their measurements to the site are more invested, more likely to read the explanations, and as you say, you know your own body.

The situation is slightly different for the casual visitor who just wants a pattern. For example, we put out a face mask patter

[2020-04-12 19:42] Slylele commented on #361
From my point of view, if the modification is **only** for both pages "sizing tables" & on pattern creation (when asked to choose people or standard size), it could be ok to use Menswear/Womenswear.
Maybe it could be useful to add a (i) next to "standard sizes" to explain that it is based on commercial standard sizes... and refers to  the dedicated pages...

[2020-04-13 10:45] joostdecock commented on #361
Below is a preview of the new UI:

![Screenshot_2020-04-13 Choose a size(1)](https://user-images.githubusercontent.com/1708494/79114831-93613d80-7d84-11ea-916d-f976d175da3e.png)

[2020-04-13 13:00] CatherineH opened #364 "create-freesewing-pattern check and warn for write permissions on /usr/lib/node_modules"
If the user does not have write permissions on /usr/lib/node_modules, the command

[code]

Will stall on

[code]

[code]

The create-library script should check to see whether the user has write permissions.

[2020-04-13 13:01] CatherineH opened #365 "create-freesewing-pattern check and warn for deprecated version of node"
The create-library script should check and warn the user for a deprecated version of node.

[2020-04-14 14:27] AlfaLyr commented on #358
Very nice idea. The problem with the way it's calculated now it's that, if you are not very careful and don't maeasure from the same point in the hips for hps to hips and shoulder slope you get inacurate values. A degree is more visual, people can just take an angle transporter, and in the info of the measurement we can even show different drawing with people with different angles so people can se

[2020-04-14 14:29] joostdecock commented on #358
That's a great idea!

[2020-04-14 14:35] AlfaLyr commented on #358
I'm glad you like it :) everybody has a protactror around at home to measure angles from a ruller set from school or something, and we can add a drawing explaining how to use it... and whoever can't be bothered to do that can just have a look at the example drawings

[2020-04-14 17:07] jefferypink commented on #361
I like the current terminology. Whatever direction is taken, it should be possible to make both "menswear" and "womenswear" using the same model measurements without the need to gender the model themselves. I don't want to have to pick between menswear and womenswear when entering in my measurements, and I'd like to be able to choose the whole range of patterns with my measurements. In standard se

[2020-04-14 17:12] AlfaLyr commented on #358
I forgot to mention: to avoid the problem of people having to measure themselves again, the new angle could be calculated automatically from the current measurement in an existing model and update it, so no need to change anything if you are happy with your model already

[2020-04-14 18:40] AlfaLyr commented on #358
Hi again... I come back because I just thought about a very easy way to calculate the angle: you can just take a selfie standing straight, open the photo editor in your phone, go to the straighten option and rotate the photo until one of your shoulders is horizontal. The angle you rotated the photo is your shoulder slope :)

[2020-04-15 04:42] joostdecock commented on #361
The new UI has been deployed. Thanks everyone for your inputs ♥️

[2020-04-15 04:42] #361 closed

[2020-04-16 12:39] AlfaLyr opened #368 "Add zoom and point size slider to the designer environment"
Some times the zoom level and the point size in the designer environment can be a bit unconvenient, so I propose:

-Add a slider in the designer mode to control the width of the svg container, instead of letting it have the width of the html element containing it.

-Making the dimension of the points in the designer mode relative to the svg container, or add a slider to change their size.

[2020-04-16 13:24] AlfaLyr commented on #360
I've seen some people using blender for cloth simulating similar to clo3d. The good thing is that is open software and can easily import svg... maybe that would be the way to go!

[2020-04-16 16:10] enyachoke commented on #360
@joostdecock  could something like http://www.makehumancommunity.org/ do the job?

[2020-04-16 17:28] joostdecock commented on #360
There's 3 things that need to come together:

 - 3d avatars (this is where makehuman could be interesting)
 - 2d patterns (we've got this)
 - Sewing the 2d pattern together and putting it on an avatar

The last step is the most tricky one, especially because I'd like to automate it as much as possible so.
Blender could work, but the whole 'sewing 2d patterns together' seems non-trivial in blender.

[2020-04-17 12:06] joostdecock commented on #364
I feel like this is out of scope. There's more than a million packages on NPM, I don't think each and every one of them should check the OS permissions prior to install, that's the package manager's job.

And as it turns out, it already does that and shows this helpful error message:
[code]

So I don't think it's our job to do this, but I also think it would be a bad idea to catch this ourselves.

[2020-04-17 12:06] #364 closed

[2020-04-17 16:44] joostdecock opened #370 "How can we adapt blocks for a curved back?"
Cindy writes:

She was looking for a way to have Breanna with a wider back (higher across back value) without making the front wider too.

This could be summarized as a general purpose pattern hack for people with a rounded back.
We don't really do anything like that currently. In Brian, we don't measure back and front individually. In Breanna we do, but don't really use that to determine the (ini

[2020-04-17 18:19] AlfaLyr commented on #370
I think the only way to take into account the width of the back at the armhole pitch point (which is more or less the wider point) is to measure it. I've seen that "across back" measurement in several places, it doesn't seem to be uncommon. With the shoulder to shoulder, armhole pitch to armhole pitch and underarm to underarm values (which we get from the high bust or the chest circumference) we c

[2020-04-18 09:49] joostdecock commented on #360
I have written (an initial) DXF-ASTM export plugin: https://github.com/freesewing/freesewing/tree/develop/packages/plugin-export-dxf

Next step is to make sure it works with all patterns.

[2020-04-18 10:20] joostdecock commented on #370
We used to have an `acrossBack` measurement. But we got rid of it because people got it wrong more often than not: https://freesewing.org/blog/core-1-8-jaeger-across-back/#the-across-back-measurement-is-no-more

I am, in general, reluctant to solve fitting problems by throwing more measurements at the problem. My concern is that adding more measurements each time we come across a problem will set

[2020-04-19 07:11] joostdecock opened #372 "Entering fractions in measurements is broken in workbench component"
This is the component used in the development environment. The input validation has a bug in it that doesn't allow fractions unless you first type all the digits and then insert the dot between them.

[2020-04-19 09:47] #372 closed

[2020-04-19 17:00] joostdecock commented on #368
Rather than re-invent the wheel, I've submitted a pull request to [react-svg-pan-zoom](https://github.com/chrvadala/react-svg-pan-zoom) that adds support for our use case: https://github.com/chrvadala/react-svg-pan-zoom/pull/174

If it gets merged, I'll still have some work to do to polish the integration, but that's my preferred option.
If it doesn't get merged, I'll look into alternatives.

[2020-04-20 04:50] SennettTailor commented on #108
Hope all are keeping well. Being locked at home has definitely given the opportunity (or push) to try one of your patterns. I did the first trial with the Carlton after the correction of the tail width. I have few comments and questions:
1. I assume in the attached pattern template: the No.1 and No.2 markings are actually in order to fit correctly the front & back arm pieces. Cant see the correspo

[2020-04-20 05:15] SennettTailor opened #373 "Placement of notches on carlton"
Hope all are keeping well. Being locked at home has definitely given the opportunity (or push) to try one of your patterns. I did the first trial with the Carlton after the correction of the tail width. I have few comments and questions:

I assume in the attached pattern template: the No.1 and No.2 markings are actually in order to fit correctly the front & back arm pieces. Cant see the correspond

[2020-04-20 16:38] joostdecock opened #374 "Allow developers to inject their own i18n strings in the Workbench component"
This way, they can check translations, and it keeps the react-intl noise out of their browser console.

[2020-04-20 16:42] joostdecock opened #375 "Make the *potato diagram* respond better to large display"

[2020-04-24 09:25] Lobotomik opened #380 "Rainbow color assignment in compare pattern makes adjacent sizes difficult to distinguish"
When producing a new pattern using custom measurements, there is a feature to overlay the shapes obtained with the standard sizes. When this feature is selected, the outline for each size is shown in a different color.

Unfortunately, with 10 sizes, colors are not that easy to tell apart. Red from orange, the four greens, the two blues and purple.

Algorithmically selecting 11 maximally distinguis

[2020-04-24 09:32] Lobotomik opened #381 "Compare Pattern should show the name of the size an outline corresponds to"
When producing a new pattern using custom measurements, there is a feature to overlay the shapes obtained with the standard sizes. When this feature is selected, the outline for each size is shown in a different color.

It would be helpful if there was a legend, or a pop-up tag on hovering on a line with the corresponding size (XXXS to XXXL).

[2020-04-25 11:30] #368 closed

[2020-04-25 11:31] joostdecock commented on #368
I got tired of waiting, so I implemented this myself. Consider it a first stab, it might need some fine-tuning. Also, I need to bundle this up in a new release before you'll be able to use it. But I have some other things on my todo list I'd like to get done before cutting a new version.

[2020-04-25 18:32] joostdecock opened #382 "Rename Fu to Florence"
After some discussion, a consensus was reached that Florence would be a better name for our face mask pattern.

Renaming it would require (from the top of my head):

 - [x] The @freesewing/fu package needs to be deprecated
 - [x] The folder needs to be renamed
 - [x] The config needs to be updated
 - [x] The automated tests need to be updates
 - [x] The github actions need to be adapted
 - [x] The

[2020-04-25 18:52] Lobotomik opened #383 "Development environment setup script crashes for Node > 11"
Hello,

The user documentations tells you to install the development environment with the command:

WSL in Windows runs Ubuntu LTS 18.04 which has nodejs version 8.
Unfortunately, in Node8,  the parameter after "init" is ignored, so the script does not much other than creating a ten-line json file.

* I installed Node12 using a Nodesource PPA, and it crashed almost immediatelly, with an error disc

[2020-04-26 07:11] joostdecock commented on #383
You and the half of the JS ecosystem have been bitten by the same bug: https://github.com/then/is-promise/issues/13

This was on HN and a bunch of other places: https://news.ycombinator.com/item?id=22979245

We support node LTS, that hasn't changed. We should perhaps make it more obvious in the documentation, but this is not a freesewing issue, but an issue with a dependency of create-react-app.

[2020-04-26 07:14] joostdecock commented on #383
Oh, and I should add: thank you for taking the effort to report this, as well as the detailed info. Much appreciated 🤗

[2020-04-26 08:20] #374 closed

[2020-04-26 08:27] joostdecock opened #385 "Migrate to react-intl v4"
There's a major upgrade to react-intl pending (see #377).

There's breaking changes, in the way it's initialized, but also `FormattedHTMLMessage` is no longer supported. We'll need to go through the monorepo and make sure everything is adapted.

We might also need to migrate freesewing.dev at the same time (freesewing.org is already migrated)

[2020-04-26 09:54] #365 closed

[2020-04-26 17:22] joostdecock commented on #383
Update: We do now check for node version < 10 (the oldest LTS) and throw an error when it's too old.
You can override that error by passing the --no-check-version parameter.

It also works with v12 (as it always had), the issue you bumped into was because of an upstream issue. The 2.6.0 release will include all these fixes.

Below is a screenshot of it running on 2.6.0-rc.1, as we're still road te

[2020-04-26 17:22] #383 closed

[2020-04-26 19:27] Lobotomik commented on #358
Maybe the issues measuring the shoulder slope come from unclear explanations and illustrations.

* I find the marble explanation for HPS point a bit obscure. I think it merits some rewording, but even more welcome would be a simple hand drawn illustration, or a 3D mesh, or photo depicting the area (but not in the paper-doll plane).

* The hipline reference is confusing. Other sewing sites and book

[2020-04-26 22:11] enyachoke commented on #360
I found this https://github.com/whyoh/blender_clothing_tools it is not much but I think it can provide a starting point. Am trying to see if I can get it work but am completely new to blender so learning as I go. So far I have been able load the back and front of breanna into blender, convert them into a mesh and ensure the back shoulder and front shoulder have the same number of vertices(The were

[2020-04-29 18:54] #373 closed

[2020-04-29 18:58] joostdecock commented on #373
Thank you for this detailed report.

Those notches on the armhole are a holdover from a single part sleeve, and don't make a lot of sense with a 2-part sleeve. So I've instead notched the shoulder point and top of the (upper) sleeve so these can be matched when setting the sleeve.

Yes. The notch indicates the waistline, but it's also the middle of the belt, so I've added a notch there as you sugg

[2020-04-29 18:58] joostdecock commented on #373
Oh, and thank you for your kind words. They mean a lot to me.

[2020-05-01 13:03] #382 closed

[2020-05-03 09:37] joostdecock opened #398 "Titan progress and related changes"
## About Titan

A while ago me and @dfbean decided we would work together to design a trouser block.
Deb is actually designing it, I will be implementing the design for FreeSewing.

This issue is a place to document our progress, but also allows me us document some of the knock-on effects that will require changes that go beyond Titan, and so on.

## Required measurements

These are the measuremen

[2020-05-07 03:31] dfbean commented on #398
Re:  knee circ.  Ignore the original comments, not sure what I was thinking.  The measurement  was correctly described and the value was the actual measurement with no ease.  In the instructions, the formula was also correct, kneecirc/2 + 1.  I corrected the weird wording in the measurement log and the instructions, also renamed all Titan.  What I meant about revisiting the ease was discussing the

[2020-05-07 03:43] dfbean commented on #398
In your required measurements chart, it looks like the fit model values for kneecirc got mistransferred.  They should be 16"/40.6cm

[2020-05-09 12:36] joostdecock commented on #398
Thanks for clarifying that @dfbean and the updated instructions. I will continue from them.
I've also updated the knee circumference in the table above, as well as in my fit model.

[2020-05-09 16:57] destos opened #405 "Feature request: A plugin to mirror points around a line"
This feature would flip points/paths across a line defined by two points similar to how the current flip plugin works but on an arbitrary axis.
Current flip plugin:
https://github.com/freesewing/freesewing/blob/develop/packages/plugin-flip/src/index.js

Unlike the current flip plugin, it would need to take in two points to build the flip axis, and possibly be configured to flip selected points and

[2020-05-09 18:40] joostdecock commented on #405
Thank you for the detailed suggestions. A few remarks after an initial read-through:

I'm a bit concerned that using `start` and `end` in the API could be a bit confusing. As in, any 2 (different) points suffice to know the mirror line. This might give the impression that the distance between `start` and `end` is relevant somehow? Would something like `mirror: [Point1, Point2]` be more intuitive?

[2020-05-09 18:47] joostdecock commented on #398
I've started going though your instructions and I'm updating them with my values/comments as I go along. The file is here: https://github.com/freesewing/freesewing/blob/titan/packages/titan/drafting-instructions.md

I plan to keep this file in the repository for I think it will end up being a good example of how we go from drafting instructions to pattern implementation.

As far as the table is fi

[2020-05-09 19:35] LetTheSunShineIn opened #1195 "Issues with Breanna Body Block"
Stack trace
TypeError: o.scyeDart1.shiftTowards is not a function

This error message popped up when trying to use the female body block pattern.

[2020-05-10 01:57] dfbean commented on #398
Thanks!  It's cool to see my baby turn into a pattern.  Appreciate the explanatory comments so I can improve next time.

[2020-05-10 13:58] joostdecock commented on #398
I've gotten as far as completing the front, expect the trueing of the cross seam (the last step)

![Screenshot_2020-05-10 titan](https://user-images.githubusercontent.com/1708494/81501011-2afb7280-92d6-11ea-893c-c4372460091f.png)

I haven't implemented that, because I'm not really sure what you (@dfbean) mean when you say:

There's a few things we can do to influence the length of this seam:

 - W

[2020-05-10 14:39] joostdecock commented on #398
Having a look at the front, I just realized that all those `hip` measurements you use are (what we call) `seat` measurements. As in, the fullest part of your bum.

If you confirm, I'll need to make some changes.

[2020-05-10 15:25] dfbean commented on #398
You're correct.  Sorry for any confusion.

[2020-05-10 16:12] devanshkain opened #406 "Macro: To rotate a path."
Have to rotate the points for slash and spread.
Would be really good to have a function or a macro to rotate a path.

[2020-05-10 16:19] dfbean commented on #398
re:  correcting crotch length, pitching point F.  I should have said, "correct crotch length by slashing/spreading line C-F," as shown in the photo.  All other points hold their relative positions.  After spreading, the side hip arc, back hip arc, and grainline will all need to be redrawn.  You could also use point X as the slash/spread point if that makes more sense from a programming standpoint.

[2020-05-10 16:35] joostdecock commented on #398
Ah yes, slash&spread. I really should have thought of that myself :see_no_evil:

Ok, that works. I know what to do now. Thanks for the feedback.

[2020-05-10 16:56] joostdecock commented on #406
Makes sense. Thanks for the suggestion.

[2020-05-10 17:12] joostdecock opened #408 "Plugin tests have not been adapted for monorepo setup"
For example, plugin-title has tests, but `package.json` is not setup to run them.

[2020-05-10 19:25] dfbean commented on #398
Re:  point g  (pattern back) and why there's a fixed value for the 45 degree-out point.  Point g isn't the point where the T,x,Y line naturally intersect when drawing the curve, it's a preset point where the curved line is forced to intersect.  My drafting book set the distance as a fixed value without rationale and I don't have enough math knowledge to reason it out and articulate why.  For my ba

[2020-05-11 06:43] joostdecock commented on #398
No need to apologize :) I might adapt the defaults then to make the curve a bit smoother. We'll have to see how it behaves when we slash&spread to true the cross seam anyway. No worries.

[2020-05-15 14:42] joostdecock commented on #398
I've renamed `crotchLength` and frontCrotchLength` to `crossSeamLength` and `frontCrossSeam` length because I find crotch off-putting :see_no_evil:

[2020-05-15 15:30] dfbean commented on #398
Good choice.

[2020-05-15 17:27] joostdecock commented on #398
Ok, question time:

When you *slash&spread* you add the length that is missing from the cross seam as extra vertical room. That is a good approximation, but it doesn't actually entirely make the cross seam the right length. So in code, I typically slash, and then spread (actually rotate) until the cross seam length is exactly right.

It ends up looking like this (the black outline is prior to the

[2020-05-15 17:57] dfbean commented on #398
I'm not ignoring you, I'm in a car and running out of phone battery.  By the time I get home it'll be tomorrow for you.  I hate to slow progress but hopefully I'll have better ideas with some non digital thinking time.
________________________________
From: Joost De Cock <notifications@github.com>
Sent: Friday, May 15, 2020 10:27 AM
To: freesewing/freesewing <freesewing@noreply.github.com>
Cc: dfb

[2020-05-16 03:30] dfbean commented on #398
I was initially taught to fix the problem by raising the starting point for the center back waist (Point T) and adding length to  line I-V  (upper thigh) till the new line was the correct length.  The instruction was "just eyeball it and we'll sort it out in the muslin."  I'm attaching a rough sketch of this approach drawn in red
![Titan CrossSeam Adj](https://user-images.githubusercontent.com/646

[2020-05-16 09:11] joostdecock commented on #398
If we raise `T` along the `X-T` line, rather than rotating it through slash and spread, we avoid the fact that we're making the pants more narrow. But the price we pay for that is that we're changing the angle between waistline and side seam. We are just making the waist higher, which isn't really much of a fit adjustment. (something tells me I would get into heated arguments with your teacher :)

[2020-05-16 09:20] joostdecock commented on #398
Seems I forgot to click *comment* above, so I did that now, but I actually came here with a new update.

I think I'm done with the back, at least until we need to match it to the front:

![Screenshot_2020-05-16 titan(2)](https://user-images.githubusercontent.com/1708494/82115936-3df2c480-9766-11ea-88c4-b557355eb04a.png)

It's essentially the same as before, but I've adapted the side seam to mainta

[2020-05-16 14:41] stoffsuchti commented on #398
New trousers, cool. Will they also work for more curved bodies, like for women?

[2020-05-16 15:56] joostdecock commented on #398
The intent here is to make a trouser block that will work for both. We're basing it on a draft for women, and using a woman's measurements as fit model.

So the question is more whether it work work for men :wink:

[2020-05-16 16:02] dfbean commented on #398
I think you did it.  Crotch length can be long because a person is high waisted or because there's more girth in the abdomen that initial measurements didn't capture.  Your method addresses both.
The knees look snug because I'm a bit bigger in the middle in comparison.  The values I gave you included 1 in ease.
I'm pretty in awe of you right now.  No contest, you'd win any argument with my teacher

[2020-05-16 18:24] stoffsuchti commented on #398
Yay Free-Sewing trousers for female formed bodies :) thank you very much

[2020-05-17 13:38] joostdecock commented on #398
I think I'm done:

![Screenshot_2020-05-17 titan](https://user-images.githubusercontent.com/1708494/82148303-b4212500-9853-11ea-9c1b-33eec0d627d4.png)

The back (on the left) was already completed. The front is now also ready. I've kept different iterations on show in different colors to illustrate the process:

- Black front: This is the initial *theory* draft
- Purple front: This is after truein

[2020-05-17 15:20] dfbean commented on #398
Tiled please.  Can't wait to make a muslin!  Will send photos when done.

[2020-05-17 15:35] joostdecock commented on #398
Here you go: [deb-titan-letter.pdf](https://github.com/freesewing/freesewing/files/4640503/deb-titan-letter.pdf)

[2020-05-17 16:10] joostdecock commented on #398
Note: I merged the titan branch into the main develop branch.

[2020-05-17 16:21] #405 closed

[2020-05-17 20:31] dfbean commented on #398
Ugh. I'm assembling the pdf and I just realized I made a logic error that might be an issue.  If you go back to the two fit adjustments (attached), the original instructions called for them being done in tandem at the end ofdrafting.  Since I had to split the crotch level adjustment into two steps so the pattern could be built in two pieces, I elected to fold the adjustment into the initial crotch

[2020-05-17 20:34] dfbean commented on #398
oops.  attachment
[Sloper Fit Adjustments04242020.pdf](https://github.com/freesewing/freesewing/files/4640971/Sloper.Fit.Adjustments04242020.pdf)

[2020-05-18 05:16] joostdecock commented on #398
I'm not sure I get what you're saying, but I guess we'll see what the muslin will look like.

[2020-05-19 18:31] dfbean commented on #398
Here's the muslin pics as promised.
![20200517_180511](https://user-images.githubusercontent.com/64651633/82364388-1436d900-99c4-11ea-91a8-85cf3ff94be1.jpg)
![20200517_180546](https://user-images.githubusercontent.com/64651633/82364396-15680600-99c4-11ea-9b9a-113b33a943a2.jpg)
![20200517_180613](https://user-images.githubusercontent.com/64651633/82364400-16993300-99c4-11ea-945e-2b7b9afc7694.jpg)
!

[2020-05-21 08:44] joostdecock commented on #398
I'm afraid I've got some bad news for you: Today is a holiday :wink:

Ok, let's summarize:

**Leg is too fitted**

I thought about this, and I'm just going to add ease to the knee, then go straight down as this is a style choice more than anything else. I've also been thinking about taking the seat/knee ratio into account. As in, if you've got a bit more back (as [Sir Mix-A-Lot would say](https://

[2020-05-21 15:23] joostdecock commented on #398
Behold:

![Screenshot_2020-05-21 titan](https://user-images.githubusercontent.com/1708494/82574322-32006b80-9b87-11ea-9632-66c32e939906.png)

Now it's too small too see in that screenshot, but when I dial the waist ease and seat ease down to zero, the waist and seat line are exactly what we'd expect them to be based on your measurements.

The leg is less fitted, the crotch is at it's minimum (curi

[2020-05-21 16:02] dfbean commented on #398
Great.  You get a holiday and I get to spend my morning assembling another %$#@! Pdf. Life is not fair.  😁

[2020-05-22 00:09] dfbean commented on #398
This is very good progress!  These pants are very tight, in non-stretch muslin, they are unwearable.  However, if this were made up in stretch denim, I'd probably be very happy with the fit, definitely happier than I am with my commercial jeans.  In non-stretch denim, I might add ease but only to the outseams so that the fit in the crotch doesn't change.  I'm really happy with this sloper; it's no

[2020-05-22 00:10] dfbean commented on #398
[Pant Shape Images05212020.pdf](https://github.com/freesewing/freesewing/files/4665368/Pant.Shape.Images05212020.pdf)

[2020-05-22 00:11] dfbean commented on #398
Also, am I knock-kneed?

[2020-05-23 00:09] dfbean commented on #398
OK, this is good news for you, and bad news for me.  I had reason to check my measurements today and they have changed a bit.  My waist is 34 and my hips are 43.  So, the good news for you is that the sloper fits really well.  The bad news for me needs no explanation.  Note to self:  more sewing, less cooking.

[2020-05-30 10:45] joostdecock opened #416 "Make natural waist basis for vertical measurements"
We should make `waist` the basis for all vertical measurements. Speficially that means:

 - [x] Replacing `hpsToHipsFront` with `hpsToWaistFront`
 - [x] Replacing `hpsToHipsBack` with `hpsToWaistBack`
 - [x] Replacing `hipsToUpperLeg` with `waistToUpperLeg`
 - [x] Replacing `naturalWaist` with `waist`
 - [x] Replacing `naturalWaistToFloor` with `waistToFloor`
 - [x] Replacing `naturalWaistToHip` w

[2020-05-30 12:05] #380 closed

[2020-05-30 13:47] joostdecock commented on #380
A bit of clarification on how this ended up getting closed.

The criticism is valid, it's not super easy to tell two colors apart that are next to each other.
That's really because they were never intended to. The `sample` on a pattern, which provides this functionality, was always aimed at developers who wanted to see how a pattern behaved when one of it's imputs were modified.

Below is an examp

[2020-05-30 13:48] joostdecock commented on #381
Closing in favor of https://github.com/freesewing/freesewing.org/issues/713

[2020-05-30 13:48] #381 closed

[2020-06-01 08:38] joostdecock commented on #358
This is fully implemented in this repo. There's still changes that are required on the frontend. Please see this issue for those: https://github.com/freesewing/freesewing.org/issues/717

I'll be closing this now, but not without giving some feedback on some of the feedback by @Lobotomik :

**I find the marble explanation for HPS point a bit obscure**

We could probably explain it better, and we wi

[2020-06-01 08:38] #358 closed

[2020-06-03 02:46] dfbean commented on #398
OK, so here's round 2:

I got my measurements back to what I drafted to, and the sloper is still too tight.  I didn't take pics, it looks pretty much the same.  If I was drafting, I'd probably add .3 cm all around, meaning .3 cm to both sides of every seam, to equal roughly 2.5 cm added to circumference in total.  If you like, I can make that adjustment to the current sloper and make a new muslin.

[2020-06-06 09:41] joostdecock opened #420 "Huey is missing seam allowance at the front closure"
An eagle-eyed Robert wrote on the chat:

This is a bug. Probably because we based the front in the back (which is cut on the fold).

[2020-06-13 09:57] joostdecock commented on #398
Sorry for the delay in my response. Somehow I didn't realize you had gotten back to this, and I had started working on other things :|

I came back here to say *hey @dfbean are you ok?* and now realize it's actually me who dropped the ball, so sorry about that.

I have [written up some of my thoughts on the matter in this issue](https://github.com/freesewing/freesewing/issues/370#issuecomment-6158

[2020-06-13 11:29] joostdecock commented on #416
Aaaaaand done!

[2020-06-13 11:29] #416 closed

[2020-06-13 11:34] joostdecock opened #425 "Replace seatDepth measurement with crotchDepth"
This came up while working with Titan (see #398) and the idea is to switch from `seatDepth` to `crotchDepth`. The difference being that currently (`seatDepth`) we measure to the hip line, and we will change that to measure to the waist line.

We'll also change the name to `crotchDepth` because keeping the same name for a measurement that is now different is perhaps not the greatest plan, and it se

[2020-06-13 12:04] #425 closed

[2020-06-13 15:57] dfbean commented on #398
So once again we learn that I know nothing about what you can accomplish with programming.  Your concept for building what most would think of as alterations into the pattern as hacks is genius.

Standing by to make muslins.  Is there any possible way I can assist you in the meantime? I'm feeling kind of bad about this "I bring nothing but problems, you bring nothing but solutions" dynamic we've s

[2020-06-13 17:29] joostdecock opened #426 "Change upperLegCircumference to thighCircumference"
Since we're renaming measurements left, right, and center. Might as well change `upperLegCircumference` to `thighCircumference` as that's arguably more descriptive/useful.

Changes required in:

 - [ ] models
 - [ ] neckstimate
 - [ ] patterns
    - [ ] bruce
    - [ ] shin
    - [ ] titan

[2020-06-13 17:37] joostdecock commented on #426
Hmm, I'm having second thoughts about this. Since we do have underwear and swimwear, the circumference at the very top of the leg is rather important. So let's keep it as-is.

[2020-06-13 17:37] #426 closed

[2020-06-13 17:43] joostdecock commented on #398
Ok, it took [some](https://github.com/freesewing/freesewing/issues/425) [work](https://github.com/freesewing/freesewing/issues/416) but all code has been ported to the new measurements/names that we also use in Titan.

The reason that matters is because new we can move away from simply always using the fit model's measurements, and run the pattern through a variety of sizes. In other words, QA.

A

[2020-06-13 18:55] dfbean commented on #398
I've been telling myself that my new mantra will be don't panic "it's just programming."  Seems a bit cavalier right now.

________________________________
From: Joost De Cock <notifications@github.com>
Sent: Saturday, June 13, 2020 10:43 AM
To: freesewing/freesewing <freesewing@noreply.github.com>
Cc: dfbean <debrafbean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [freesewing/f

[2020-06-14 11:02] joostdecock commented on #398
After some tweaking left and right, this is the current sampling over our standard models:

![Screenshot_2020-06-14 titan(1)](https://user-images.githubusercontent.com/1708494/84591502-3a269080-ae3f-11ea-839d-5b72e1e3f666.png)

I've included both the outline before fitting the cross seam (that's the more normal looking one) and after. As you can see, fitting the cross seam does tend to get weird,

[2020-06-14 11:44] joostdecock commented on #398
Here is Titan in my measurements. As you can see, it doesn't work at all:

![Screenshot_2020-06-14 titan(2)](https://user-images.githubusercontent.com/1708494/84592210-36493d00-ae44-11ea-8ca8-70ba272eb907.png)

I think I am going to start by getting rid of the `crotchDepth` measurements altogether. A lot of the problems in the pattern are because:

 - `waistToSeat` controls the vertical location o

[2020-06-14 17:45] dfbean commented on #398
I had come to the same conclusion; fitting the crossseam is the problem.  Bear with what follows, I've been sorting it out in my head only.  If any of it makes sense, I could draft it and see what happens.

So I asked, "given all the vertical and circumference measures used, what does the crossseam capture that hasn't been accounted for already?"  It isn't the fork, that's determined by the upper

[2020-06-15 06:56] muhammadantoun opened #428 "Some security findings"
Hi Team,

Don’t you just hate it when someone includes your open source project, only to run some scanning tools and come back with issues?  Yea we do too.

So we’ve been running lots of security scans on open source projects, including yours, through some automation we built.  Don’t worry, it took less than a few minutes to run the scans and auto-generate the report.

Wasn’t sure how to send it t

[2020-06-20 15:45] joostdecock commented on #398
Fitting the cross seam is hard. Throwing that measurement out would certainly make it easier, but it would also make me feel that we're giving up on making one trouser block to rule them all :)

I've been mulling this over for a while, and I must admit it was getting me down a bit. This is not the first time I've started working on a trouser block, and each time this is pretty much where I abandon

[2020-06-21 10:59] joostdecock commented on #398
I made a muslin:

![IMG_20200621_115227](https://user-images.githubusercontent.com/1708494/85222710-cb58b280-b3bd-11ea-9155-773c89b14fa5.jpg)
![IMG_20200621_115221](https://user-images.githubusercontent.com/1708494/85222712-cbf14900-b3bd-11ea-9e6a-f2d74d83f4f4.jpg)
![IMG_20200621_115334](https://user-images.githubusercontent.com/1708494/85222714-cc89df80-b3bd-11ea-9403-f49030e53583.jpg)
![IMG_2020

[2020-06-22 01:02] dfbean commented on #398
I agree; if my muslin fit this well, I'd be done drafting.  Good work!

I hurt my ankle and am pretty much confined to the couch for a few days.  When I'm up/moving I'll send a current set of the new measurements so you can send me a new pattern.

Deb
________________________________
From: Joost De Cock <notifications@github.com>
Sent: Sunday, June 21, 2020 3:59 AM
To: freesewing/freesewing <frees

[2020-06-22 17:36] joostdecock commented on #398
Sorry to hear that @dfbean get well soon!

[2020-06-24 18:35] #420 closed

[2020-06-26 14:41] joostdecock commented on #398
At some point, I planned to fork titan and make a block that would be drafted from the hipline, rather than the waist line.
But given that I was rather pleased with the fit, I've instead added a 'waistHeight' option that you can dial down all the way to zero to drop the wait to the hipline. Here's that option sampled:

![Screenshot_2020-06-26 titan](https://user-images.githubusercontent.com/170849

[2020-06-26 16:03] dfbean commented on #398
Nice!  With one block to rule them all world sewing domination is within your grasp.  Try to use your power for good and not evil.

Seriously, I'd been thinking about how to proceed with drafting the waistband and the rest of the parts.  In the manual process, the next step is to cut down the waist as desired, so this is perfect timing.

I don't  see any darts on your drawing so I'm curious about

[2020-06-26 16:24] joostdecock commented on #398
Well, this is a block. So I will leave it like this (well, I'll add dimensions and logos and so on).

Then, I'll spin it out into (a number) of trouser patterns. That's where we'll add the pockets and so on.
I'm familiar with the kind of style Theo provides, I've also made a bunch of jeans in my life, but I'd be interested to see what sort of pattern you would make from it.

And yeah, there's no d

[2020-06-27 12:04] joostdecock commented on #398
Below is a view of the rewritten Titan with the (updated) measurements of the original fit model:

![Screenshot_2020-06-27 titan](https://user-images.githubusercontent.com/1708494/85921803-26d3e600-b87f-11ea-9cd9-738094551cdf.png)

[2020-06-27 14:37] joostdecock commented on #398
I made Titan for my wife, fits like a glove :)

[2020-06-27 16:11] joostdecock commented on #398
Here is Titan with all bells and whistles:

![Screenshot_2020-06-27 titan(3)](https://user-images.githubusercontent.com/1708494/85926684-614e7a80-b8a1-11ea-8e8a-c1cbfa478a4a.png)

Unless some unexpected fit issues or other problems crop up, this is pretty much done.
Now we can start thinking about turning this block into actual patterns :)

But before I do that, I'll see if I can put out a release

[2020-07-04 03:23] jodo3k opened #437 "Exporting a paperless pattern in imperial, measurements overlap at top."
I created a paperless pattern with imperial measurements. I exported and the additional measurements for paperless, the numbers all overlap at the top of the pdf. see attached image..
![Screen Shot 2020-07-03 at 23 26 00](https://user-images.githubusercontent.com/3046027/86504282-a46a8b00-bd84-11ea-9fd8-61ab0e24dd47.png)

When I created a paperless pattern with metric measurements I can export and

[2020-07-04 03:33] jodo3k opened #438 "The blue graph for a person's measurements is so small it's unreadable."
I created person and entered the measurements needed for the Simon pattern. I see the blue graph at the bottom of the page. (see attached image) It's so small that it's unreadable. You can hover of it and see colors change. I can see there's some kind of text there, but too tiny. I'm on a Mac, and it happen using both Safari and Chrome.

![Screen Shot 2020-07-03 at 23 29 29](https://user-images.gi

[2020-07-04 08:20] joostdecock commented on #375
Closing this in favor of #438 which is a better documented duplicate

[2020-07-04 08:20] #375 closed

[2020-07-04 08:22] joostdecock commented on #438
Thanks for reporting this. It's an issue on high-resolution screens, we'll fix it.

[2020-07-04 08:25] joostdecock commented on #437
Thanks for reporting this. It seems like the `"` symbol in the imperial measurements is not properly escaped, breaking the XML.

[2020-07-08 16:03] joostdecock opened #444 "Feature request: Add a mandarin collar to Simon(e)"
Jesse writes:

[2020-07-09 06:34] stoffsuchti commented on #444
Great idea with the mandarin collar

[2020-07-09 07:10] joostdecock commented on #356
Closing in favor of https://github.com/freesewing/freesewing.org/issues/688

[2020-07-09 07:10] #356 closed

[2020-07-11 16:31] joostdecock commented on #357
Implemented in v2.7.0-beta.2

[2020-07-11 16:31] #357 closed

[2020-07-11 16:33] joostdecock commented on #203
We now have the new `raise` method in core (since 2.7.0-beta.2) so we could implement this, than raise a warning telling the user we drafted off the shoulder.

As such, I've added this to the 2.7.0 milestone in the hopes I can fold it into that release :)

[2020-07-12 12:44] joostdecock commented on #438
Fixed in develop branch

[2020-07-12 12:44] #438 closed

[2020-07-12 13:10] #437 closed

[2020-07-12 14:00] dependabot-preview[bot] opened #445 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850785).

[2020-07-12 14:00] dependabot-preview[bot] opened #446 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850791).

[2020-07-12 14:00] #446 closed

[2020-07-12 14:00] dependabot-preview[bot] opened #447 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850783).

[2020-07-12 14:00] #445 closed

[2020-07-12 14:00] #447 closed

[2020-07-12 14:00] dependabot-preview[bot] opened #448 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850789).

[2020-07-12 14:00] #448 closed

[2020-07-12 14:00] dependabot-preview[bot] opened #449 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850788).

[2020-07-12 14:00] #449 closed

[2020-07-12 14:00] dependabot-preview[bot] opened #450 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850799).

[2020-07-12 14:01] #450 closed

[2020-07-12 14:01] dependabot-preview[bot] opened #451 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39850797).

[2020-07-12 15:57] joostdecock commented on #398
Done :)

[2020-07-12 15:57] #398 closed

[2020-07-12 15:59] #451 closed

[2020-07-12 15:59] dependabot-preview[bot] opened #452 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852096).

[2020-07-12 15:59] dependabot-preview[bot] opened #453 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852098).

[2020-07-12 15:59] #452 closed

[2020-07-12 15:59] dependabot-preview[bot] opened #454 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852102).

[2020-07-12 15:59] #453 closed

[2020-07-12 15:59] #454 closed

[2020-07-12 15:59] dependabot-preview[bot] opened #455 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852103).

[2020-07-12 15:59] #455 closed

[2020-07-12 15:59] dependabot-preview[bot] opened #456 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852105).

[2020-07-12 15:59] dependabot-preview[bot] opened #457 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852104).

[2020-07-12 15:59] #456 closed

[2020-07-12 15:59] dependabot-preview[bot] opened #458 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/freesewing/update-logs/39852092).

[2020-07-12 15:59] #457 closed

[2020-07-12 16:26] joostdecock commented on #406
Couldn't find the time to include this in 2.7. Re-assigning to the 2.8 milestone.

[2020-07-12 16:29] joostdecock commented on #370
v2.7 includes two  changes that can make this happen:

 - The fact that measurments can now be something else than mm (so we could have a % for curved back or something
 - The `raise` feature in core allowing developers to communicate back to the end user.

As such I'm closing this. The actual implementation in different patterns is outside the scope of this issue and would better be tracked in de

[2020-07-12 16:29] #370 closed

[2020-07-12 16:31] #458 closed

[2020-07-12 16:31] joostdecock commented on #203
Couldn't fit this in, so I'm bumping this to the 2.8 milestone

[2020-07-15 08:43] joostdecock opened #459 "Simone fails to draft for user vr46/md"
Reproduce this at: https://freesewing.org/create/simone/for/ztesm/

Error: `TypeError: n[k].rotate is not a function`

[2020-07-16 12:16] DocSpencer77 opened #460 "Link to API doc broken"
The link on this page:  https://freesewing.dev/tutorials/pattern-design/constructing-the-neck-opening/ that says, "Points come with a bunch of these methods. You can find them all in the Point API docs."
and contains this URL:
https://freesewing.dev/referene/api/point/
is broken.

Thanks,
@DocSpencer77

[2020-07-16 12:21] joostdecock commented on #460
There's a c missing:

should be

If you're up for it, you can edit it online here: https://github.com/freesewing/markdown/blob/develop/dev/tutorials/pattern-design/constructing-the-neck-opening/en.md

[2020-07-16 12:30] DocSpencer77 commented on #460
I’m happy to make the change.  I’ll figure it out.  <g>  A good start to make a chance of one letter.

From: Joost De Cock <notifications@github.com>
Sent: Thursday, July 16, 2020 7:22 AM
To: freesewing/freesewing <freesewing@noreply.github.com>
Cc: DocSpencer77 <spencer@tenstellium.com>; Mention <mention@noreply.github.com>
Subject: SPAM-LOW: Re: [freesewing/freesewing] Link to API doc broken (#4

[2020-07-16 13:05] DocSpencer77 commented on #460
I am just faking it till I make it with this Github collaboration.  %)  Thanks for your patient tutoring. I made the change, but now should I create a pull request.

[2020-07-16 13:08] joostdecock commented on #460
If you create the change via the Github website (just click the pencil icon on the file) it will auto-create the pull request for you.

If you've forked the repository, then yes, you need to first push your change, then create a pull request. Also not the end of the world, but a bit more advanced then just using the website.

Let me know if you need any assistance. I'm a faker just like you ;)

[2020-07-16 15:49] DocSpencer77 commented on #444
Just yesterday was thinking to suggest multiple collar options.  Thought drafting a collar is about a match for my skill level. Maybe.

[2020-07-18 00:55] #460 closed

[2020-07-19 08:29] joostdecock opened #462 "Make simon & simone support button placement for left-handed people"
Update from Discord by @joostdecock :

Original description:

[2020-07-20 21:56] DocSpencer77 opened #646 "Pattern PDF cover page shows null for pattern name in tagline"
![image](https://user-images.githubusercontent.com/43393580/87990182-20fda900-caa9-11ea-8f31-eb7891e29eb0.png)

Whether or not the pattern has been saved by the user, no pattern name shows.  This programming occurs in the tiler which is written in C, so it is more work than some things, but when cutting out and organizing patterns and pattern pieces, it would be very helpful to have the name the u

[2020-07-31 00:53] DocSpencer77 opened #471 "Link to measurements "models" produces 404"
On this page  https://freesewing.dev/reference/config/#measurements

The text:  See freesewing models for a list of measurement names already used in freesewing patterns.
has this link:  https://github.com/freesewing/models
which produces a 404 error... it isn't there.

[2020-08-11 12:16] joostdecock opened #491 "CFP is broken due to breaking changes in execa"
create-freesewing-pattern is broken in 2.8.0 because:

[code]

We've updated to execa 4, but it seemed we (as in, I) didn't bother to check for breaking changes.

[2020-08-16 09:51] joostdecock commented on #491
Fixed in https://github.com/freesewing/freesewing/commit/8964b183496e8bfc6991df5e49e722079ab61692

[2020-08-16 09:51] #491 closed

[2020-08-21 05:18] joostdecock opened #500 "Add cutting instructions to pattern"
@greenchili wrote in the chat room:

He makes a good point although the matter gets complicated by the fact that we need to support translation.

I see 3 ways to tackle this:

- ask designers to add this to the pattern manually
- let the `title` macro handle it by passing it extra parameters
- add it to the pattern's config file and have the `title` macro auto-magically add thus info

I find the l

[2020-08-30 09:40] joostdecock commented on #359
After a lot more sleeps, this seems over-engineered. So I'm closing this.

[2020-08-30 09:40] #359 closed

[2020-08-30 09:42] joostdecock commented on #500
Here's a preview of this feature in Teagan (unreleased) :

![Screenshot from 2020-08-30 11-38-49](https://user-images.githubusercontent.com/1708494/91656043-be3efa80-eab5-11ea-86da-6434f2cd8b7f.png)

And here's the config that makes it happen:

![Screenshot from 2020-08-30 11-39-47](https://user-images.githubusercontent.com/1708494/91656044-c303ae80-eab5-11ea-8f98-f5a7ce8337f3.png)

[2020-08-30 10:02] #500 closed

[2020-09-01 07:08] joostdecock opened #515 "Contibutor call: September 5th 2020"
## About

 - Date: Sep 5, 2020 16:00 UTC
 - Location: https://zoom.us/j/94087732509

## Agenda

- Welcome
- A quick round of introductions
- What are some of the challenges we face today
  - Our ambitions exceed our (time) resources
    - We'd like to make more patterns
    - We'd like to do more technical work (tests/infrastructure/online development environment/...)
    - There's a growing backl

[2020-09-02 13:44] amysews commented on #515
For the agenda, is it worth you or other core members describing the biggest pains or gaps you're experiencing? I appreciate you've listed potential roles in your blog post but I'm guessing some are more important than others?

[2020-09-02 14:22] joostdecock commented on #515
Great suggestion :+1:
I've added that to the agenda. I think it's easier to briefly describe it on the call, rather than write a lengthy block of text :)

[2020-09-04 17:19] freesewing-bot opened #635 "Error while drafting paco"
An error occured while drafting paco and a [crash report](https://gist.github.com/7e1cf297012005a2cb0c59fe2c35d9b4) was generated.

[2020-09-05 09:09] stoffsuchti commented on #515
Pleeeease consider using privacy respecting tools for the conf-calls. Like Mumble oder Big Blue Butten or Jitsi.

Ah free Mumble server can be found for example on treff.top, administrated by @paratexception (twitter nick)

And Big Blue Button you can find: https://meeten.statt-drosseln.de/ the link to the twitter profile of admin at the bottom of the page.

I will not use zoom.

[2020-09-05 14:52] joostdecock commented on #515
@stoffsuchti I understand your concern for privacy, but the choice for Zoom is a pragmatic one given the time that we have to set this up, and the fact that this is new to everyone.
However, this does not mean we're committed to Zoom in the long run.

Before you jump to the conclusion that we can't be bothered to even try. Please note that I've:

 - Setup a landing page at https://meet.freesewing.

[2020-09-05 22:02] stoffsuchti commented on #515
No it can not convince me, since the possibility i pointed out, dit not require any installation on your servers.

Yes mumble has a client that need to installed, but its well documented on n several languages. It hals also mobile apps.

BBB works in the Browser like zoom....

Where will future meetings be held? Will you continue to exclude persones like me?

[2020-09-06 08:10] joostdecock opened #522 "Schedule the next FSCC"
After #515 we should schedule another call for the weekend for 19/20 September.

On question is whether we stick to the same time slot or change it? (no matter what time we pick, it will always be difficult for people on certain time zones).

Another possibility is to setup a different calls for people more or less 12 hours earlier/later (assuming there would be enough interest).

[2020-09-06 08:13] joostdecock opened #523 "Setup a call with the social media team"
See #515 for details. This call should include:

 - @eleonoremilbou (Instagram)
 - @woutervdub (Facebook)
 - @joostdecock (Twitter)
 - @creasyo
 - Tawney
 - @tangerineshark
 - @annekecaramin

[2020-09-06 08:15] joostdecock opened #524 "Agree on a hashtag structure for our patterns"
We should agree on a hashtag structure that is consistent (and sufficiently unique) to facilitate people sharing posts about our patterns (and us finding them).

See #515 for more info

[2020-09-06 08:16] joostdecock opened #525 "Publish hashtags on website and ask people to use them"
See #524 and #515 for details

[2020-09-06 08:18] joostdecock opened #526 "Establish a 'developer pool' of people who can help pattern designers implement their ideas/designs"
This is a todo from the FSCC: #515

The list so far:

 - @woutervdub
 - @joostdecock
 - @DocSpencer77
 - @enyachoke
 - @rrolon47
 - @AlfaLyr

If you'd like to be part of this pool, please comment below :)

[2020-09-06 08:19] joostdecock opened #527 "Think about how collecting/sharing measurements could or would work"
This is a todo from #515 Please read the call notes for details

[2020-09-06 08:21] joostdecock opened #528 "The list of FreeSewing roles for which we're looking for champions"
This is a todo from #515, you can find more details in the call notes.

But to summarize: the idea is to defined roles that people would be able to volunteer for, thereby making it easier to jump in and participate.

If you have suggestions, please comment on this issue, and I will update this text with roles as we establish more of them.

## Roles

 - [ ] Pattern ambassador
 - [ ] Devops engineer

[2020-09-06 08:22] joostdecock opened #529 "Compile a list of (patterns with) missing documentation"
This is a todo from #515, you can read the call notes for more info, but I hope the title is self-explanatory :smiley:

Below is the (current) list, although I've already included the (unreleased) Teagan:

 - [ ] Bent
 - [ ] Brian
 - [ ] Breanna
 - [ ] Carlita (brief description exists)
 - [ ] Carlton (brief description exists)
 - [ ] Cathrin
 - [ ] Holmes
 - [ ] Huey
 - [ ] Jaeger (partially done

[2020-09-06 08:28] joostdecock commented on #515
I have updated this issue with the call notes and a todo list (linking to different issues I created).

I've at-mentioned those people where I know their Github handle by heart. Please leave a comment if you would like to be mentioned (which facilitates collaboration) since I can't tie every face (or zoom name) to a handle (sorry, bad memory).

Speaking of bad memory, I scribbled down notes during

[2020-09-06 08:29] #471 closed

[2020-09-06 09:20] amysews commented on #515
Thanks everyone for the call yesterday, definitely topped up my creative energy bar 😀

@joostdecock thanks for writing up the notes, I have a few amendments from scanning through my rough notes:

- it was Karen who first suggested the buckets, but I completely agree with the idea 😄
- there was an interesting discussion on 'measures of success' - you said you've used donations as the measure so far

[2020-09-06 10:22] joostdecock commented on #515
Thank you @amysews I've corrected/updated the notes with your inputs. Onto the questions you rase :)

##### About the _measure of success_

I realized (after the call) that there's an entry in our FAQ titles [What's your end game](https://freesewing.org/docs/about/faq/#whats-your-end-game) which I feel might be a bit to high-level to be measurable.

##### Does time matter?

Not to me. What I mean

[2020-09-06 10:54] Sewanista commented on #515
I'm so sorry I missed the call, I just couldn't manage a midnight meeting this weekend.

I'd like to introduce myself. I'm an experienced custom patternmaker in Perth Western Australia. I am particularly interested in plus size drafting and parametric tools. I've been teaching myself to program Seamly 2D by drafting an example of the block drafts I most commonly use (I collect patternmaking books

[2020-09-06 11:02] Sewanista commented on #522
From the look of the last timetable, I am the person who has the most awkward time slot (midnight on Saturday night for me) I'm fine with sticking to this, if that particular time works best for everyone else, as I'm a bit of a night owl who is too old for clubbing and too young for early nights.

[2020-09-06 11:15] joostdecock commented on #515
Thanks for popping in @Sewanista Sounds like you have a lot to contribute :slightly_smiling_face:

[2020-09-06 13:19] creasyo commented on #515
Hi Joost, it's James. Mine is @creasyo

[2020-09-06 14:17] creasyo commented on #522
Saturday 19th at the same time works for me

[2020-09-06 14:21] creasyo commented on #523
Hello, I think I am going to have a few office days next week but will be done around 1600. Other wise Tuesday and Thursday I am not free from 1830 - 1930. These are UK times.

[2020-09-06 14:31] annekecaramin commented on #523
I'm free most evenings around 19:00 (Belgian time). I'll probably be out of town on Thursday and Friday!

[2020-09-06 15:19] joostdecock commented on #515
@creasyo Such consistency 😃 ok, I'll be at-mentioning you from now on

[2020-09-06 15:20] tangerineshark commented on #515
Hi! It's Karen. My username's @tangerineshark - I've updated it in Github, but it doesn't seem to have populated its way over to gitter yet

[2020-09-06 15:23] tangerineshark commented on #515
Hi! It's Karen - I'm @tangerineshark

[2020-09-06 15:27] tangerineshark commented on #515
Also, for what it's worth, if it would help @DocSpencer77 to have another human to test the measurements table against, I'm happy to help out. I've got a pretty good idea of where/how I should deviate up or down from the average measurements, at least!

[2020-09-06 15:49] eleonoremilbou commented on #523
I'm available every day after 7 pm; earlier on Wednesday and Friday.

[2020-09-06 16:48] joostdecock opened #530 "What platform should we use to coordinate collaboration?"
This is a Todo issue from #515

The question is whether we should consider other/additional tools to foster collaboration between collaborators.
We use github/gitter now, which is geared towards the developer side of our community, and perhaps a bit of a hurdle for the maker side.

If you have ideas and/or suggestion, please feel free to comment on this issue.

[2020-09-06 16:57] joostdecock commented on #515
Thanks @tangerineshark I've updated the notes, and will at-mention you going forward.

I also just remembered that @creasyo questioned the platforms we use for collaboration, so I've added that to the notes/todo list and created an issue for it.

You should also all have received an invite to join the freesewing organisation on Github. If you accept it your github profile will list you as a contri

[2020-09-06 17:00] lusty commented on #515
Hi, Diana here. I’m @lusty on Github

[2020-09-06 18:01] DocSpencer77 commented on #527
@tangerineshark  and @karen thanks for starting the conversation about how we can collaborate!  This topic arose a few months ago when @joostdecock  rolled out this groovy graph of sizes/measurements: https://freesewing.org/sizes/

The listing of how the measurements relate to the general (as in not yet refined <g>) sizes on freesewing is below the graph.

They "official" freesewing measurments /

[2020-09-06 18:31] creasyo commented on #523
What time zone are you on @eleonoremilbou ?

[2020-09-06 18:36] creasyo commented on #523
Can I propose 6pm UK time on Wednesday? How does that sound?

[2020-09-06 18:40] eleonoremilbou commented on #523
Belgian, so 1800 UK time.

On Sun, 6 Sep 2020, 20:31 creasyo, <notifications@github.com> wrote:

[2020-09-06 18:41] DocSpencer77 commented on #527
![image](https://user-images.githubusercontent.com/43393580/92332841-340f0d00-f046-11ea-8fea-d8847d507ec9.png)
BTW, Compared to the Freesewing set of measurements, the largest US pattern makers seem to have a very limited set.  I'd love to know if/where they publish a larger set of measurements.

[2020-09-06 18:41] annekecaramin commented on #523
Works for me as well!

[2020-09-06 18:56] tangerineshark commented on #523
That works for me!

On Sun, Sep 6, 2020 at 1:41 PM Anneke <notifications@github.com> wrote:

[2020-09-06 19:06] tangerineshark commented on #527
Also, for a touch more background, is your end goal that the size range increases/decreases in a consistent way so that someone can choose their typical size and have it fit as they would expect ready-to-wear clothes to fit in that size? Or are you more hoping to shift measurement ratios as you move up/down the size range to solve for some of the most frequent challenges expressed at the ends of t

[2020-09-06 19:46] DocSpencer77 commented on #527
The fundamental background is that freesewing built menswear patterns first and then adapted some for women that had been originally derived from the brian block.  @joostdecock  tells the story better than I do. <g>  AFAIK, it means Brian became Breanna primarily by virtue of a Full Bust Adjustment. So while freesewing is focused on "made to measure" after someone enters measurements, the idea of

[2020-09-06 20:37] woutervdub commented on #523
I'm so lazy, I googled what that was in my timezone.

I can make that.

[2020-09-06 21:59] DocSpencer77 commented on #515
@Sewanista  Was just typing about our need to understand Plus Size fitting better in our "[Think about how collecting/sharing measurements could or would work" discussion](https://github.com/freesewing/freesewing/issues/527)!  Sounds like your expertise would be very helpful.  Also, we didn't talk about sewing education (at least I don't remember that) in our call, but that is also a subject near

[2020-09-07 02:25] Sewanista commented on #527
I think I need to chat in person at some stage, as what I know about sizing isn't going to to fit in a comment. I'm a trained patternmaker/grader with 30 years experience, and a large collection of drafting books and size charts going back to the 19th century. To try to summarise: there are traditionally two approaches to sizing, the growth associates with the skeleton itself, and the growth assoc

[2020-09-07 02:27] Sewanista commented on #527
Actually, I have a collection of halfscales, in quite a range of sizes. I build them. Girl needs a hobby ;-)

[2020-09-07 03:10] DocSpencer77 commented on #527
@Sewanista, your expertise sounds very useful for developing these parametric patterns.

Let’s see if we have some others who want to work on this and see if we should set a time before our next general Contributor’s meeting or after.

Would you expect it to be possible/best to build in the logic into our programming so the pattern drafting would know whether to use the “standard Missus” model or

[2020-09-07 04:28] Sewanista commented on #527
I think the goal should be to produce a draft based on actual body measurements using geometric methods, and bypass the concept of "straight size" and "plus size".  There are a few systems that use direct measurements rather than formulas but they still don't quite work in all eventualities without post-draft adjustments. (I like this one: https://archive.org/details/PatternDraftingAndGradingByMic

[2020-09-07 08:58] creasyo commented on #527
A slightly random question. Someone on the call on Saturday recommended a book called he "Complete Guide to Fitting — Sewing Book" I have just been having a look at this and it talks about a “wrinkle dictionary”. My understanding of this is you can look at a garment of a body, see a wrinkle and then using this resource to make a correction to a pattern to remove it. Is this correct?

My question -

[2020-09-07 09:19] Sewanista commented on #527
I can ‘read a wrinkle’ and fit from photos.

Kind regards,

Sandra Bryans

Sewanista Fashion Workshops
By appointment in Malaga
0437 176 629
FB: Sewanista Fashion Workshops
Instagram: @sewanista

[2020-09-07 11:23] joostdecock commented on #527
@creasyo I suspect many experienced sewists can *read wrinkles*, it's something you don't need to be a pattern designer for. And a picture should be sufficient.

[2020-09-07 11:38] joostdecock commented on #527
I feel like this is a point worth emphasising: **freesewing only does parametric drafting**

All of the *standard sizes* we offer are just a set of parameters (measurements) that we use as input for a parametric draft. We added it because we wanted to provide an on-ramp for people who are discouraged by all the measurements they have to take. Which also explains why it's not a great sizing table:

[2020-09-07 12:59] Sewanista commented on #527
I have found that its best not to second guess what people want.  There can be practical reasons for changes, such as dealing with the fact that the necessary darts for a full bust can throw the grain off quite badly, but as far as styling goes plus size people want exactly the same stuff slim people want. "Flattering" is a dangerous word to use in plus size sewing circles, as it is often interpre

[2020-09-07 13:46] DocSpencer77 commented on #527
@Sewanista said: I think the goal should be to produce a draft based on actual body measurements using geometric methods, and bypass the concept of "straight size" and "plus size"

Agreed.  @joostdecock made the important point. the "table" of sizes and the graph that compares input sizes to "typical" sets of parameters are not pre-programmed sizes/drafts.  Identifying existing "plus size size mod

[2020-09-07 13:50] joostdecock commented on #523
Call scheduled for Wednesday September 9th, 19:00 CET which is:

 - 18:00 in the UK
 - 12:00 for @tangerineshark
 - 10:00 for @woutervdub

Join meeting at: https://zoom.us/j/93801600725

Does anyone know how to reach Tawney? I'm kicking myself for not asking on the call :see_no_evil:

(I'm closing this as the actual todo (scheduling the call) is done) But you can still comment

[2020-09-07 13:50] #523 closed

[2020-09-07 16:25] joostdecock commented on #529
While this is still a valuable thing to do, it was initially created because Genevieve indicated she's be willing/able to write documentation.
Earlier tonight [she wrote](https://gitter.im/freesewing/help?at=5f5650259bad075eac0413d8):

So while this is still an actionable todo, it's not so clear how having the list of missing documentation is going to magically make that list shorter

[2020-09-07 18:53] tangerineshark commented on #527
Wow you all have such amazing skillsets! I'm definitely a bit out of my depth here, and will leave things to the folks upthread as regards drafting.

Quick question: is a wider diversity of actual people sewing up the Breanna block (or others) something that you're seeking as you iterate? (Along with their measurements and/or photos of results?) If so, I can make sure that's folded into the commun

[2020-09-07 19:32] DocSpencer77 commented on #527
@tangerineshark  YES!  Exactly.  That's exactly where I started not many months ago.  And when I asked the same question of @joostdecock, he provided all sorts of caveats about the sort of beta status of Breanna.  Brian was developed first and has had more testing.  Breanna needs more testing.  It's a "block" rather than a true "pattern," so I cut the back on the fold and put an invisible zipper u

[2020-09-07 19:45] joostdecock commented on #527
Breanna needs some TLC, it goes of the rails fairly often. My concern is that goodwill is not unlimited, and asking people to beta test a pattern that's arguably more alpha than beta might squander a lot of goodwill.

So I'm not against trying Breanna, merely worried that it would be a bad first experience.

Perhaps I could have another look at it and see if I can work on some of its issues 🤔

[2020-09-07 19:57] DocSpencer77 commented on #527
@joostdecock   I could have been more helpful by giving more specific feedback when I tested it out.  And, I could have tried to work on some issues... but I just turned my back on Breanna.  I didn't want to beat 'er up.  :smirk:

[2020-09-07 20:21] tangerineshark commented on #527
No pressure! Thank you all for helping me to understand!

[2020-09-07 22:25] TawniS commented on #530
Would it be worth setting up a discord server for ease of communication?

[2020-09-08 05:45] joostdecock commented on #530
I did that a while back: https://discord.gg/YDV4GvU

It would not only make my life a lot easier (since I use it for work) it also provides a bunch of things that I miss. Like notifications (that work) and a good mobile app.

I've been reluctant to force it upon others, but I'd be delighted to start using it 🙂

[2020-09-08 05:51] joostdecock commented on #523
@TawniS Am I correct in assuming you're Tawney? Because we were trying to organise this call and I didn't know how to reach you 🙈

[2020-09-08 11:36] TawniS commented on #523
@joostdecock correct! I will be working during that time on Wednesday but should still be able to join in the call. I may just have to step away for a moment if anything comes up. See you all then 😁

[2020-09-08 11:47] TawniS commented on #523
Also just going to pop the link to the discord server in here as I'm hoping we'll be able to get some folks using it! https://discord.gg/YDV4GvU

[2020-09-08 15:38] joostdecock commented on #529
Closing since the actual todo is done

[2020-09-08 15:38] #529 closed

[2020-09-09 14:45] amysews commented on #527
Just caught up on all this ^^ 🤯  😂

I'd love to join a call on this if/when that happens - although more as a spectator than a contributor at this point!

[2020-09-09 14:56] DocSpencer77 commented on #522
Seems that previous timing was so easy for me that I am tempted to feel guilty.  If we have some folks who are always disadvantaged by the previous timing, I'm happy to trade off the time of day.  But the Saturday the 19th at the same time is good.

[2020-09-09 15:02] DocSpencer77 commented on #526
If you were looking over my shoulder yesterday while I cut out my first t-shirt pattern, you might not want my help.  ;)  But I'm going to make it work!  I'm happy to jump into the pool if you'll have me.

My sleeves were not right... luckily, I had enough fabric to cut them out again.

[2020-09-09 15:09] woutervdub commented on #526
This is to bring pattern designers and code developers together. No need to be able to sew!

(I made a shirt some years ago with both the sleeves cut out identical, and the placket sewn in the same. So the shirt had two left sleeves. I discovered this after I had sewn the sleeves in, and I did not have enough fabric. It's a short sleeved shirt now)

[2020-09-09 15:18] Sewanista commented on #527
I've sewn up a few iterations of the Breanna block, in various sizes. I've also sewn up a block I've made using the same measurements and a different drafting method. The Breanna block has definitely got a few issues. I'd be interested in seeing the original drafting method for the Breanna, and learning some of it's history. It may be the case that a complete rethink is required.
The drafting meth

[2020-09-09 15:20] DocSpencer77 commented on #526
Perhaps no need to be able to sew... but it surely helps if the pattern is "sew-able"!  The pattern was wrong.
Sometimes I think I've made every sewing mistake possible... and then I find another possible way to go awry.

[2020-09-09 16:03] DocSpencer77 commented on #527
Excellent experiments, @Sewanista!  The Breanna block is derived from the Brian block.  The code/drafting method(s) are here:
https://github.com/freesewing/freesewing/tree/develop/packages/brian/src
https://github.com/freesewing/freesewing/tree/develop/packages/breanna/src

I don't know if you read JavaScript code, but here's a snip from Brian:
![image](https://user-images.githubusercontent.com/43

[2020-09-10 08:52] joostdecock opened #539 "Community team call notes 09092020"
## Meta
Call started at 19:00 CET on the 9th of September 2020, it lasted 1 hour and 15 minutes.

Participants:
  - @eleonoremilbou
  - @woutervdub
  - @joostdecock
  - @creasyo
  - @TawniS
  - @tangerineshark
  - @annekecaramin

## Notes

- After the initial welcome, @joostdecock briefly explained how he setup the facebook page/instagram account/twitter accounts initially, but after his (personal

[2020-09-10 08:53] joostdecock commented on #539
Hi all, I took a first stab at writing down the notes from our call last night. As always, feel free to correct or add things.

I initially referred to the bunch of us as the *social media* team but I feel that *community* team is perhaps a better description.

[2020-09-10 08:55] joostdecock opened #540 "Setup/Establish a hashtag that people can use to ask questions about freesewing, our patterns, fit issues and so on"
This is a todo from #593 -- I hope the title is self-descriptive./

I'm assigning this to @creasyo to avoid paralysis by distributed responsibilities. But obviously everyone's input is welcome.

[2020-09-10 08:56] joostdecock commented on #540
Am I showing my age when I suggest `#askFreeSewing` ? :thinking:

[2020-09-10 08:58] joostdecock opened #541 "Setup a FreeSewing YouTube channel"
This is a ToDo from #539
The idea is to have a channel for freesewing, rather than videos under @joostdecock 's YouTube account because who the heck is that guy anyway.

I think the issue here is that these accounts are always linked to a Google account, or they not?
So that might need some consideration for what happens when people come and go?

I know next to nothing about YouTube so please chim

[2020-09-10 08:59] joostdecock opened #542 "Setup/Share a calendar that helps us keeping track of meetings/calls/events"
This is a Todo from #539

Since I already have one, I think I can take care of this.

[2020-09-10 09:02] joostdecock opened #543 "Setup a Facebook group (note that we currently have a Facebook page but a group is perhaps a better fit)"
This is a Todo from #539

The idea is to setup a Facebook group as that will foster more community participation than a page.
Since @annekecaramin volunteered to (help) moderate, and @creasyo came up with the plan in the first place, I'm assigning this to both :slightly_smiling_face:

[2020-09-10 09:05] joostdecock opened #544 "Setup a FreeSewing newsletter"
This is a todo from #539

The idea is to setup a newsletter that people can subscribe to. I guess either Mailchimp, or perhaps Tinyletter?
Since this might end up costing money (not certain, but what if) I will handle the initial setup

 - [x] Setup tinyletter:  https://tinyletter.com/freesewing/
 - [ ] Integrate on freesewing.org
 - [ ] Integrate on freesewing.dev
 - [ ] Share on Twitter
 - [ ] S

[2020-09-10 09:08] joostdecock opened #545 "Move from Gitter to Discord"
This is a Todo from #539

We will need to:

 - [ ] Update the links on freesewing.org
 - [ ] Update the links on freesewing.dev
 - [ ] Update links on different social media accounts
 - [ ] Update links on email footers
 - [ ] Pin a message to the Gitter chat rooms to announce this (signup link:  https://discord.gg/YDV4GvU )
 - [ ] Announce it elsewhere:
   - [ ] Blog
   - [ ] Newsletter
   - [ ]

[2020-09-10 10:16] joostdecock commented on #544
For those who want to write/draft newsletters, there are 2 options:

 - I give you the password
 - You sign in with Twitter (which would require you have access to the `@freesewing_org` twitter account which we can grant)

[2020-09-10 11:11] TawniS commented on #540
#askfreesewing makes a lot of sense to me and doesn't seem to already be in use on Instagram. I think it might also help to make mention of the @freesewing_org handle on the website and encouraging people to tag it when they post their makes.

[2020-09-10 12:12] Sewanista commented on #527
I'm happy to collaborate. I can't read the code very well yet, but I can already see how using the HPS and cb Neck are causing the distortions. I build my women's blocks from a horizontal line at bust level, with the lengths established upwards to create the bust shaping.
I'm wondering if there is a way to convert the drafts I've done in Seamly 2D to JavaScript. Seamly2D is a patternmaking drawing

[2020-09-10 13:16] TawniS commented on #541
I can do a bit more digging into this after work today but here's some information about having multiple people managing a YouTube channel to start with.

https://support.google.com/youtube/answer/4642409?hl=en

[2020-09-10 13:19] TawniS commented on #541
If I'm reading this correctly setting up the channel with a brand account would allow us to add or remove users as they come and go. Sounds like what we're looking for, I think!

[2020-09-10 13:28] joostdecock commented on #541
I think you're right @TawniS So I'm going to go ahead and assign this to you ;)

[2020-09-10 13:31] TawniS commented on #541
I should have known :P on it, I'll let you know what I come up with!

[2020-09-10 14:50] creasyo commented on #540
Yep I think simple is best. Sounds good to me.

Have you had a think about the pattern hashtags?

#SimonFreeSewing
#TheoFreesewing

Ect?

[2020-09-10 15:11] joostdecock commented on #540
Does that risk that people misunderstand things?

Like, `#ShinFreeSewing` => wtf? What is it with people without shins and sewing that's so special?

Would `#FreeSewingShin` perhaps be better for that?
It would also help with the auto-suggest since all our various hashtags would start the same :thinking:

[2020-09-10 15:12] TawniS commented on #541
So, from what I've found it will need to be tied to a Google account. Once a channel is created with this account we can add contributors so they can update, add content, etc. @joostdecock  Do you already have a Google account for free sewing, and if not are you alright with me setting one up?

[2020-09-10 15:15] joostdecock commented on #541
tx @TawniS

No

What are you waiting for? :slightly_smiling_face:

[2020-09-10 15:46] joostdecock commented on #541
Great work!
I'm going to close this, as the actual todo is done. Managing the channel is more of an ongoing thing :)

[2020-09-10 15:46] #541 closed

[2020-09-10 17:14] creasyo commented on #540
Yep that is very true. Happy with that.

[2020-09-10 18:48] DocSpencer77 commented on #527
Yay!  @Sewanista, your observations about HPS and cbNeck make sense.  I do think your Seamly 2D drafts can be "converted to Javascript," though it's not an "automagic" process.  Yes, it's a translation process.  Have you looked at the baby's bib tutorial?  https://freesewing.dev/tutorials/pattern-design/your-first-part/

All patterns start with a box like that.  In the case of a bib, the box gets

[2020-09-10 19:25] TawniS commented on #524
I think we've sort of come to a conclusion on this in the other thread? #FreeSewingSimon, #FreeSewingCarlton etc.

[2020-09-10 19:28] tangerineshark commented on #527
I'm in! (Granted my role at this point would be largely observational, but maybe I'll learn enough that I can help in the future!)

[2020-09-10 19:57] DocSpencer77 commented on #527
@tangerineshark Super! Of course I need your help because I am still learning.  Is there something simple that you'd like to take on as a first idea--a collar (there's a request for a mandarin collar around here somewhere), a hat (I'm needing a new hat), even a simple rectangular zipper bag?  The point is for us to learn how to take something from an idea to a pattern.

[2020-09-10 21:12] tangerineshark commented on #527
I don't have strong opinions, although I'd put in a vote for something with a curve, like a collar or hat, just to see how that works on the dev side. :)

[2020-09-11 00:15] DocSpencer77 commented on #527
@tangerineshark, here's my idea of a starting place, which I'm submitting as a little walk through as though we had an idea for a hat design.  I think if we walk through this with a simple example, you and others will have a better idea of where in the process they want to participate--designing, coding, testing, writing instructions, or whatever.

Fair warning:  I spent decades as a professor, an

[2020-09-11 06:26] joostdecock commented on #524
You're right. I'll close this.

[2020-09-11 06:26] #524 closed

[2020-09-11 07:48] joostdecock commented on #540
Seems like this is settled. I'll start adding these to the website.

[2020-09-11 07:48] #540 closed

[2020-09-11 17:06] joostdecock opened #548 "Edit the Teagan tutorial video"
Raw footage is being uploaded here: https://www.dropbox.com/sh/ykdf9fs851x3r5n/AAATj6pmJpZPBavIn42ajQJGa?dl=0

Note that I always find that getting good (voice) sound quality is tricky, so I stopped talking during the videos and did a separate voice-over.
Obviously, I only decided to do that 2 videos in or so, so sorry about that.

I'm not certain the end result is usable at all. Feel free to tell

[2020-09-12 07:12] joostdecock commented on #548
Upload is complete now. Note that there's no part 4. I just messed up the numbering :see_no_evil:

[2020-09-12 16:19] creasyo commented on #548
Hey, just downloaded the footage. The voice over works with the footage where you can't see you talking. It wont work when you are doing bits to camera and the lip sync is out. It's just a bit visually confusing.

I have just done a very quick tide up of the GoPro audio as a test. It takes out the hissing and sounds allot better. In places it can sound like you are underwater but i think that is o

[2020-09-12 16:23] creasyo commented on #543
I think this one can be closed as @annekecaramin has set the group up :)

[2020-09-12 16:32] joostdecock commented on #548
I have a lav mic (bought it for this kind of stuff). But since I control the GoPro with my phone, and the lav mic is connected to my phone, the recording stops when the app goes to the background. I couldn't get it to keep recording. (but perhaps I'm just a noob)

I got fed up fiddling with it, and essentially wanted to send you a pile of stuff so you would tell me the best way to record things ne

[2020-09-12 16:38] joostdecock commented on #543
I've added the both of you to the `mods` group, which gives you `triage` permissions on all of FreeSewing's repositories.
Long story short, you can close it yourself :) And you can assign issues to people, add labels, and whatnot.

Let me know if you have any questions.

[2020-09-12 16:54] creasyo commented on #548
hmmm ok, how long is the cable for the lav mic? Could it be plugged into a laptop/ipad or other device?

Would you be up for filming it again or was the audio ok?

[2020-09-12 16:55] creasyo commented on #543
Set up by @annekecaramin and closed by @creasyo :D

[2020-09-12 16:55] #543 closed

[2020-09-12 16:59] joostdecock opened #549 "Document new conditional plugin feature in core"
See `design.js` for details, but essentially it allows you to load build-time plugins based on run-time data (as in, settings or measurements).

[2020-09-12 17:09] joostdecock commented on #548
I could not access that link. It had a 'request access' button which I clicked :) But I still can't access it

[2020-09-12 17:25] creasyo commented on #548
Sorry try again

https://drive.google.com/file/d/1JZY4yK132cj2axYyKY67Fwwpoi9aNGXf/view?usp=drivesdk

[2020-09-12 17:27] joostdecock commented on #548
That sounds fine to me. I will try to do better next time, but if I'm going to record another one, perhaps it makes more sense to do another pattern?

[2020-09-12 17:55] creasyo commented on #548
Amazing! Do you have the logo files anywhere? Could you drop it in the Dropbox folder?

[2020-09-12 18:15] creasyo opened #550 "Who has had a first look at Teagan?"
To keep track of who has had early access to Teagan. We should follow up for content later. Please add who you send it out to here

List:

 - Charlotte from englishgirlathome
 - Julian Collins of Sew Manly
 - Kelly Hogaboom

[2020-09-13 07:35] joostdecock commented on #548
The SVG is available here: https://freesewing.org/logo.svg

Perhaps good to know what FreeSewing black is `#212529`, or gray-9 (we use [open color](https://yeun.github.io/open-color/) for our colors)

[2020-09-13 07:39] joostdecock commented on #550
I shared it on Discord, and the Discord link itself is on Gitter, which is on our website. So in principle, anyone can stumble upon it :wink:

That being said, I know these people have made one:

 - @joostdecock
 - @annekecaramin
 - @tangerineshark

I know the intent here was more to keep track of what *outsiders* we're sending it to, but just wanted to bundle up this info in case we forgot who ma

[2020-09-13 08:14] joostdecock opened #552 "Document optional measurements"
See teagan config. Also document that this is exported by the pattern-info package

[2020-09-13 08:26] joostdecock commented on #545
Since that Discord link is hard to remember, you can use this: https://chat.freesewing.org

Caveat: If you're using an invite link from within the Discord app itself, this redirect won't work, and you have to use https://discord.com/invite/YDV4GvU

But this will work from any browser.

[2020-09-13 09:46] creasyo commented on #548
Amazing.

I think i have done the main edits. I think there might be some bits missing.

I have 10a-KnitBindingFinish.mp4 video but no audio and 10b audio and no video
There is also 13-voice.mp3 but no 12 video

Also you mentioned a sewing machine version of this. Is that still to come?

[2020-09-13 10:52] annekecaramin commented on #550
I contacted Charlotte from @englishgirlathome and she wants to make one for herself and her partner so she can compare results! Probably around late September/early October. She'll post on her accounts and we can reshare her content :)

[2020-09-13 11:05] creasyo commented on #548
What do you think to this? A simple title style?

https://drive.google.com/file/d/1_9zUvw-wSdyUqSUWkR8EQWI8dkn40z3q/view?usp=sharing

[2020-09-13 11:53] joostdecock commented on #548
That works for me :)

I probably shouldn't have uploaded that one. I re-did it in 10b, which is why I added no audio for it.

You mean no 13 video right?
I'm uploading it now, but it's just boring shots of me hemming :wink:

[2020-09-13 12:12] joostdecock commented on #548
Before making any more videos, I'd like to get a better flow going so we can get better results.
Since you're the expert, I'd like your opinion on this.

**Audio**

I feel this is important to get right. Since sewing machines can be noisy, it's probably best to record a separate audio track.
My attempts to do that with my phone turned out to be too cumbersome, and recording a separate voice-over i

[2020-09-13 12:24] Sewanista commented on #527
I'm just touching base to let you know I'm still here. I've been struggling to get the tutorial up and running, and I'm not sure what I'm doing wrong.  I cant get past the "setting up the development environment" page - it keeps giving me error messages.  I'm pretty sure I'm missing something obvious, but I have no idea what.
In the meantime, I am going to test a bunch of the patterns already code

[2020-09-13 12:27] creasyo commented on #548
sorry i might be being slow but the video is only 24 seconds long and the audio is 2 mins. Feels like there is something missing there.

[2020-09-13 12:40] creasyo commented on #548
Audio is normally overlooked when people try and do videos so it makes me happy you are willing to invest in getting it right. Its something that improves overall quality. We use zoom recorders at work, i have not tried out this one but it looks great! If you are able to i would get one.

No i like the gopro. Its easy to use and you can get it into position easily. If its easy its more likely to g

[2020-09-13 15:27] DocSpencer77 commented on #527
Hi @Sewanista glad you're still connected.  I went through the set up of the tutorial, and yes, it was a struggle.  I had used Github some in the past, but I had to learn a lot about that, too.  Are you setting up the dev environment one Linux? Mac? Windows?  Wheb I started, "the word" was that the in the know folks could vouch for it working on Linux and on a Mac, but Windows was at least suspect

[2020-09-13 15:55] joostdecock commented on #548
Ok, I've ordered the Zoom recorder, and a GoPro goosneck thingie. Should be here towards the end of the week.

[2020-09-13 16:03] joostdecock commented on #527
@Sewanista If memory serves me well, you mentioned that you had created patterns in Valentina?
Perhaps we can work together to *port* those to FreeSewing. I'd be happy to help with that.

Given your background in pattern design, I feel it might be more rewarding if we can tap into that somehow, and then over time you can ease into coding your own patterns. I would be happy to organize a call with

[2020-09-13 16:06] joostdecock opened #553 "Contibutor call: September 19th 2020"
You are all invited to the contributor call.
Please leave a comment to put things on the agenda. This issue will be updated after the call with notes and todos.

## About

 - Location: https://meet.freesewing.org (redirects to https://zoom.us/j/5168598687 )
 - Date: Sep 19, 2020 16:00 UTC, which is:
   - Los Angeles: 09:00
   - Chicago: 11:00
   - New York: 12:00
   - São Paulo: 13:00
   - London:

[2020-09-13 16:21] creasyo commented on #550
Julian Collins of Sew Manly
Kelly Hogaboom

[2020-09-13 16:37] joostdecock commented on #550
I've put the list in the initial issue (sorry for putting words in your mouth @creasyo ) as that might be easier to keep track of things than scrolling down comments.

[2020-09-14 01:15] Sewanista commented on #527
That all sounds good. To be honest, the thought of learning a new way to code was a bit overwhelming. I think I saw somewhere that it can be a struggle in Windows, which is what I'm using. I've got a few patterns drafted in Seamly that have formulas I'm happy with. They seem to work across a wide range of sizes, although they aren't fully tested on humans yet. However, I need to cross reference th

[2020-09-14 03:00] Sewanista commented on #527
I've cross referenced the FreeSewing measurements, and made a few observations.
In no particular order:
-I would usually refer to the lower body vertical girth as the crotch seam, not the cross seam.
-Hip and Seat are used more in menswear for the measurements over the iliac crest and the largest buttocks girth. In womenswear, these two measurements would be the high hip or adbomen, and the full h

[2020-09-14 08:01] joostdecock commented on #527
If you could join the call on Saturday, that would be great. But the offer stands to organize another call at a time that is more convenient. That being said, this week I have a bunch of obligations. Only today and Friday do I have the ability to attend a call in the afternoon. If you could attend on Saturday, perhaps we can use that opportunity to ask who would want to join this call?

As for the

[2020-09-14 12:21] Sewanista commented on #527
That all makes sense.  I guess I’m just trying to orient myself in a new environment. I’m not particularly attached to any way of doing things, but it is good to see the reasoning behind decisions so I can work out how to adapt my methods to the ones already established.
I’m going to aim for the Saturday meeting. I don’t think I can manage anything before then.

[2020-09-14 12:36] joostdecock commented on #527
Ok, let's talk on Saturday then. I've [added an item to the agenda](https://github.com/freesewing/freesewing/issues/553) to see who else would be interested on working on designing patterns.

[2020-09-16 09:05] joostdecock opened #558 "Feedback: New homepage design"
Hi all,
I have reworked the homepage a bit because I wanted it to focus more on the fact that Freesewing is built by a community.

You can preview the new home page design here: https://next.freesewing.org/

I started out with this *all shapes welcome* idea (all colours too) but dropped that slogan in the end because it's cheesy AF.
Still the random shapes and colours are somewhat referring to tha

[2020-09-16 11:11] joostdecock commented on #558
Tip: You can toggle dark mode to force a re-render (which will give you a new randomized layout)

[2020-09-16 11:27] eleonoremilbou commented on #558
I like the blobs, although they could maybe be refined a bit colour-wise. I also like the showcase. Some tweaks to the copy could clarify a bit more that "we are" not just this person that you're seeing right now. I can make a few copy suggestions if you'd like.

I'm not sure about the icon menu. I think people need a bit more hand-holding at this stage (they're on the homepage, maybe for the firs

[2020-09-16 15:12] joostdecock commented on #558
- I've updated the icon navigation 😇
 - I'll take your suggestions for better copy 🙂
 - Not sure what you mean by *being refined colour-wise*. Do you not like the colors? We use [open-color](https://yeun.github.io/open-color/) for our color scheme. The blobs can appear in all its colours (except gray) in shades 3 and up. I've changed it so the text is black/white depending on the color shade. But

[2020-09-16 15:18] woutervdub commented on #558
I like the design. I won't comment on colours, since I seem to be terrible at those things.

The ration between width and height could be favoured a bit more to wider on a desktop browser. The bottom navigation is gone when I do full screen on a standard laptop screen.

I don't mind being in the list. It probably should be an opt-in thing.

As far as getting the message across, I'm not sure. If we

[2020-09-16 18:00] tangerineshark commented on #558
I like it!!

I would agree the contributor list should be opt-in. You're welcome to keep me on it!

I'm also missing the bottom navigation on laptop.

For the colors, I'm pondering accessibility with respect to contrast. Aesthetically, I love that the blobs cut across text, but the shift in color mid-word might be difficult for some folks. Especially when the blob color is light, the text outside

[2020-09-16 18:10] tangerineshark commented on #558
I should add that that last thought above re: changing color schemes is definitely a bonus, not a necessity. Also if you solve for contrast, it becomes way less relevant. I may have just gotten enamored with the notion of picking a color scheme that suits your eyes/vision.

[2020-09-17 08:13] eleonoremilbou commented on #558
Maybe my "issue" with the colours is just that they are so random. I think I'd prefer a more curated colour scheme, but it looks like that's just me.

As for copy: I like that "we are" refers back to #WeAreFreeSewing, but it looks strange coupled with a picture of just one member. Some alternatives:
- Meet the team
- Meet the community
- Join the community
Or simply:
- Meet: (Wouter/Karen/Joost/wh

[2020-09-17 16:02] joostdecock commented on #558
I've published another update that hopefully addresses the most pressing issues.
I'll leave it at this for now, but I've added it to the agenda of the next call. See #553

[2020-09-17 16:02] #558 closed

[2020-09-18 08:04] eleonoremilbou commented on #553
Can't make it this time, sorry!

[2020-09-18 17:25] #528 closed

[2020-09-18 17:29] joostdecock commented on #553
That's a pity, maybe next time :+1:

[2020-09-18 17:38] joostdecock commented on #558
I have published another update to improve the legibility.
Since less is more, I've also made an update to only use 1 (randomized) color. Hopefully that makes @eleonoremilbou happy :wink:
And there's better support across different breakpoints. (read, across devices)

[2020-09-19 04:34] enyachoke commented on #526
I would like be in this pool as well. I have tried to practise coding patterns for freesewing mostly from tutorials but never really get to complete them especially when stuff don't make sense it will be nice to have a designer hold my hand through this.

[2020-09-19 07:46] #522 closed

[2020-09-19 07:47] #515 closed

[2020-09-19 07:48] joostdecock commented on #515
Closed in favor of #553

[2020-09-19 14:19] creasyo commented on #548
@joostdecock can you have a look at clip 10. The audio is too long for the video so i am not sure what you want to do with it.

[2020-09-19 14:30] joostdecock commented on #548
You're asking my to look at myself? Do you have any idea how much I hate that?! :joy:

I don't think we need part 10. I did a few takes for the neck binding, and god knows what I was thinking, but I don't think part 10 provides anything that isn't available in the other parts.

Also, my recorder thingie arrived today :slightly_smiling_face: Are you going to be on the call later today? Perhaps we c

[2020-09-19 15:23] creasyo commented on #548
Cool then I think those first videos are done.

I have uploaded them as drafts on YouTube. They just need renaming and directions done ect. Writing is not my strong point as I am dyslexic so if we could task that to someone else I would be grateful.

That's exciting about the new kit! Yes I will be there later let's talk then.

[2020-09-19 15:25] joostdecock commented on #548
No worries. You've done more than enough :) we can get someone to write the titles and whatnot :+1:

[2020-09-20 01:01] TawniS commented on #548
Perhaps I can be of some help there? Since I'm already on the YouTube channel, I might as well make myself useful 😝

[2020-09-20 01:04] TawniS commented on #548
I was also thinking I'd put it all in a playlist so it's easier to find all of the relevant videos once we start uploading more to the channel. On that note, it looks like there's not a way to just move the videos from your channel, Joost. We'll just have to re-upload if we want to move them.

[2020-09-20 08:10] joostdecock opened #561 "Contibutor call: October 3rd 2020"
You are all invited to the contributor call.
Please leave a comment to put things on the agenda. This issue will be updated after the call with notes and todos.

## About

 - Location: https://meet.freesewing.org (redirects to https://zoom.us/j/5168598687 )
 - Date: Saturday October 03, 2020 16:00 UTC, which is:
   - Los Angeles: 09:00
   - Chicago: 11:00
   - New York: 12:00
   - São Paulo: 13:00

[2020-09-20 08:23] joostdecock opened #562 "Finalize community focus for the website"
This is a todo from #553 and a blocking factor for the 2.9 release date.

What needs to happen is:

 - [x] Finalize the new home page visualisation
 - [x] Provide translation for the new `cty` strings
 - [x] Complete [the list of contributors](https://github.com/freesewing/freesewing.org/blob/develop/contributors.yaml)
 - [x] Make sure contributors opt-in (have the approve or comment on the merge-

[2020-09-20 08:34] joostdecock opened #563 "Setup a pattern design team to work on those specific topics"
This is a todo from #553

I do think it's best to keep the general contributor call sufficiently high-level and have in-depth discussions on other things branch of into a specific team :slightly_smiling_face:

Since several people have expressed a willingness to be involved in the pattern design side of things, I think it makes sense to setup a dedicated *team* to work on this. Whether or no that

[2020-09-20 08:41] joostdecock opened #564 "Write Teagan documentation"
This is a todo from #553 where @tangerineshark volunteered to help with writing documentation.

Since we've got a milestone for the Teagan release, I've pegged this issue to it, and assigned @tangerineshark
Obviously, this is the best-case scenario, don't feel pressured.

Good to know is also that translation can't happen until the original English text is written.

One thing that is less-obvious

[2020-09-20 08:44] joostdecock opened #565 "Compile a list of sewing techniques/steps that we want to document with video"
This is a todo from #553 where we discussed a library of different sewing techniques or steps would facilitate making videos for new patterns.

The first step is to create a list of techniques that we would like to capture.
Please comment below with your suggestions, and I'll keep a list in the issue updated.

[2020-09-20 08:46] joostdecock opened #566 "Shoot new Teagan video using only a regular sewing machine"
This is a todo from #553

[2020-09-20 08:47] joostdecock opened #567 "Edit new Teagan video using only a regular sewing machine"
This is a todo from #553 and can only be started after completion of #566 by @joostdecock

[2020-09-20 08:51] joostdecock opened #568 "Try making an initial coding video to figure out what works and what doesn't"
This is a todo from #553 where Rachel suggested to (also) make video tutorials for the coding side of things.

That's a good idea, but we've never done anything like it. So perhaps we can start by just recording something and collecting feedback on what works and what not so we can gravitate to a formula we can then repeat.

[2020-09-20 08:54] joostdecock opened #569 "Compile a list of common coding challenges in sewing patterns"
This is a todo from #553 and the idea is to compile a list of common challenges when coding sewing patterns so we can provide instructions on how to solve them.

Challenges can either be things that are inherent to porting drafting instructions to parametric design (like, how to make easy not a fixed number), or more related to programming things (how to adapt your sleevecap length to fit your arm

[2020-09-20 09:18] creasyo commented on #548
Amazing, thank you both. I am going to close this now as this part is done and a new todo has been raised for the second set of videos.

[2020-09-20 09:18] #548 closed

[2020-09-20 10:08] joostdecock commented on #553
I'm closing this in favor of https://github.com/freesewing/freesewing/issues/561

But this is still the place to comment on the notes of this particular call

[2020-09-20 10:08] #553 closed

[2020-09-20 10:14] joostdecock commented on #548
There are few things I enjoy more than other people closing issues 😂 thanks @creasyo

@TawniS I lf you could make sure videos get titles and tags and so on, and put them in playlists, that would be a great help. As far as I'm concerned you run our Youtube channel now 😋

[2020-09-20 14:25] joostdecock commented on #563
I just realized I at-mentioned @amysews in this rather than @sewanista, I've corrected that now.
However, that obviously does not mean Amy can't join, just that it was @sewanista who said she'd love to.

As I'm writing this, I also realize how the mistake happened:

![Screenshot_2020-09-20 Screenshot from 2020-09-20 16-23-57 png (PNG Image, 3844 × 2110 pixels) - Scaled (44%)](https://user-images.g

[2020-09-20 15:37] TawniS commented on #565
I think a good place to start would be the list of techniques that you have on the site already. Adding a screenshot below. I can try to help filming some of these but the only equipment I have is a cell phone and I'm REALLY not good at speaking in front of people 🙊

 #
![Screenshot_20200920-113404](https://user-images.githubusercontent.com/70525956/93715161-94697880-fb35-11ea-898b-51d7edd5aa47.pn

[2020-09-20 16:34] joostdecock commented on #565
Good suggestion. The list is here: https://freesewing.org/docs/sewing/

[2020-09-20 18:18] joostdecock commented on #566
Done. Files are being uploaded at: https://www.dropbox.com/sh/psvpcksxm3eu02y/AABhmRAO7FbVhzi6mWkmg5hKa?dl=0

[2020-09-20 18:18] #566 closed

[2020-09-20 18:20] joostdecock commented on #567
@creasyo I'm done recording. Files are being uploaded at Done. Files are being uploaded at: https://www.dropbox.com/sh/psvpcksxm3eu02y/AABhmRAO7FbVhzi6mWkmg5hKa?dl=0

There's 33 `.mp4` files and a `.wav` file for each. Will take a while, but they should be there tomorrow :slightly_smiling_face:
I've added the `00.txt` file with some notes. Let me know if anything is not clear.

[2020-09-20 20:31] tangerineshark commented on #564
I've been putting this together as a Google Doc, which is almost definitely the wrong approach, but can't hurt for a start. It's saved here: https://docs.google.com/document/d/1gX-sDKScMFk4oJ_hyf8c0a5R88h-ez63TlCMTKCU9ZU/edit?usp=sharing

I tried to follow your standard formatting and language by stealing a lot from the Aaron and Sven patterns, then modifying to fit. Also, the Aaron already has am

[2020-09-21 03:31] Sewanista commented on #563
I've just joined, sorry I missed the last invitation. Hopefully that makes things easier.

[2020-09-21 03:37] Sewanista commented on #569
Calculating curves that scale correctly.

[2020-09-21 06:14] stoffsuchti commented on #550
What is of pattern is Teagan? Can I have access too please? I'm nether on discord nor on zoom. So i would appreciate if you could share it with me.

[2020-09-21 06:14] stoffsuchti commented on #550
What is of pattern is Teagan? Can I have access too please? I'm nether on discord nor on zoom. So i would appreciate if you could share it with me.

[2020-09-21 07:36] joostdecock commented on #550
@stoffsuchti You can keep track of the changelog to see what's going on: https://github.com/freesewing/freesewing/blob/develop/CHANGELOG.md
In addition, https://next.freesewing.org/ always runs the develop branch of our website which includes all features that are in the pipeline. You can try Teagan there today.

You can also check the milestones: https://github.com/freesewing/freesewing/milestone

[2020-09-21 07:43] joostdecock commented on #530
Question is answered, move to Discord is ongoing, closing.

[2020-09-21 07:43] #530 closed

[2020-09-21 07:49] joostdecock commented on #569
Thanks @Sewanista I created the list in the issue above, will update it with comments here :slightly_smiling_face:

[2020-09-21 08:27] joostdecock commented on #564
I guess this would be a good opportunity to update our documentation for editors: https://freesewing.dev/guides/editor/

It's a bit outdated, but the same principles still apply:

 - All our documentation is written in markdown
 - They are stored in the [freesewing/markdown](https://github.com/freesewing/markdown) repository
 - As an example, here are the Aaron docs: https://github.com/freesewing/

[2020-09-21 12:10] amysews commented on #563
@joostdecock I'd like to get added to the group please 😄  (sorry I missed the call this weekend, I was with family)

[2020-09-21 12:30] joostdecock commented on #563
@amysews If you approve [this merge request](https://github.com/freesewing/freesewing.org/pull/1014), it's official :)

[2020-09-21 15:19] tangerineshark commented on #564
Thanks, Joost! This is awesome and super-helpful. I figured you had a whole process, but I also had time to write up the content side of things yesterday, which seemed like a good start. I'm still gaining familiarity with github, but I have a decent understanding of HTML, so I can definitely have a go at the formatting side of things! I'll keep you posted!

[2020-09-21 15:36] joostdecock commented on #564
That's great to hear. A few things that are perhaps not obvious (and that we should document) are the custom components you can use:

#### Tip
[code]

![Screenshot_2020-09-21 Community(1)](https://user-images.githubusercontent.com/1708494/93787127-63ba3980-fc30-11ea-82fe-9b9f9b323463.png)

#### Note

[code]
![Screenshot_2020-09-21 Community](https://user-images.githubusercontent.com/1708494/937873

[2020-09-22 04:52] rrolon47 commented on #553
I am Rachel, sorry I didn't mention my screen name in the call.  As far as what I want to get out of participating... I am just really excited that there is a group of folks that are doing this in an open source way.  I would like to develop some patterns for FS, improve my coding and work collaboratively with coding.

[2020-09-22 04:56] rrolon47 commented on #563
how do I join the group?

[2020-09-22 04:58] rrolon47 commented on #526
I am maybe a lil late to the game but I would like to join this group too, if possible

[2020-09-22 05:09] rrolon47 commented on #568
I have some experience with OBS to record your screen. I haven't done it in a while but its probably what we would want to do.
I am still learning the code and API but we could probably start with doing a walk through of the bib tutorial.  Maybe the first video could be setting up the dev environment and any trouble shooting that goes along with that.  I don't have class this week so I might be ab

[2020-09-22 10:53] joostdecock commented on #553
Great to have you Rachel. You should receive an invite from github to join the freesewing organisation.

[2020-09-22 10:54] joostdecock commented on #563
I'll submit a PR to list you as a collaborator, and also be in the group. But consider yourself in :)

[2020-09-22 13:14] DocSpencer77 commented on #563
@rrolon47 I'm so glad you did an "annotated" bib tutorial as you mentioned in Discord!  I've been working on an annotated project code/tutorial sort of thing that hopefully can provide folks with a jumping off place to make their own modifications.

@joostdecock What do you think?  What's the best place for us to share/build some learning tools like that? I'd hope that you would help us review/ref

[2020-09-22 13:40] joostdecock commented on #563
I must admit that 'm not really certain what way to steer this. The idea was to bring people who are interested in making patterns together.

I typically advocate for teaming up a person who has a programming background with people who have a pattern drafting background. That way, you can work together and get results relatively fast.

However, there's a number of people who want to wear both of t

[2020-09-22 13:57] DocSpencer77 commented on #563
@joostdecock  All good input.  Thanks.
Is @dfbean  Deb/Debra from the Titan block building and from our meetings?  Didn't she also express interest in being here?

My thought is that some of the tutorial annotation effort is just as much for someone who doesn't want to actually do the coding as it is for someone who is interested only in the coding.  It's a way for both ends of that spectrum to fi

[2020-09-22 13:59] joostdecock commented on #563
Sorry, added Deb to the list (I did tag her, just forgot her at the bottom)

[2020-09-22 14:22] AlfaLyr commented on #526
I'm a bit late too, and I am a bit away from freesewing at the moment because I'm crazy busy, but I would also like to hepl people who want their patterns translated to freesewing.

[2020-09-22 15:02] enyachoke commented on #563
@joostdecock  I like the idea of meeting up and deciding on how to move forward and also believe there are really no extremes. I write code but am always fascinated with pattern design so I will definitely benefit from being paired with someone who is good with pattern design.

[2020-09-22 15:13] joostdecock commented on #526
Awesome :slightly_smiling_face:
I've given all of the contributors who volunteered here the `development` tag to indicate that they are into that kind of stuff.

I think we can close this and keep track of the discussion around pattern design in #563

[2020-09-22 15:13] #526 closed

[2020-09-22 18:00] dfbean commented on #563
To paraphrase @joostdecock and @DocSpencer77, there are three separate efforts that we could undertake:

Teach me to code
Teach me to design
Teach me to work with a code/design partner

Each of these is worthy, but each also represents potentially significant workloads with different skill sets needed to complete them.  And Joost is right, not everyone in the group will want to slog through discus

[2020-09-22 21:10] DocSpencer77 commented on #563
Thanks @dfbean for synthesizing the conversation and helping us find a direction.

I have most of the pieces necessary to put a little thing together that starts with a simple drawing and follows that with a simple pattern.  Then, we can find out where in the process people feel comfortable working, where we overlap and don't, where we're interested in learning and where we're not.

Date and time-

[2020-09-22 21:32] dfbean commented on #563
@DocSpencer77 The meeting time is fine for me, I'll go along with the crowd though.  If you want to see an example of the information that might be exchanged and how a techie/creative team communicates, go to the Titan development documentation  on GitHub.  I'm sorry, I don't remember what it was called or how to find it, so Joost should chime in now and direct you to it.  Warning, it's a long and

[2020-09-23 09:00] enyachoke commented on #563
Saturday same time as the contributors call works for me.

[2020-09-23 09:48] joostdecock commented on #563
@dfbean is referring to #398

Let's not forget @Sewanista here. That time slot means the call would start at midnight for her.
Perhaps she can let us know whether:

 - [ ] She plans to attend this *pattern-design* call
 - [ ] If so, could she attend
 - [ ] If not, what time slot would work better

[2020-09-23 09:59] joostdecock commented on #563
Just adding the link here that @Sewanista posted on Discord to her skirt pattern: https://www.dropbox.com/sh/0ggk15j0c3h4yhd/AAAZDBI6fABpVOSsvtJsYOaBa?dl=0

Includes the pattern (for Valentina/Seamly), drafting instructions, and measurements chart.

[2020-09-23 10:51] Sewanista commented on #563
I'm fine with the Saturday timeslot, if everyone can excuse occasional yawning and slight incoherence, lol.

[2020-09-23 15:33] joostdecock opened #570 "Design team call: 26 September 2020"
You are all invited to the contributor call.
Please leave a comment to put things on the agenda.
This issue will be updated after the call with notes and todos.

## About
 - [Add to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjhscmV2dmtiMWI1amY5MXRwNHAwaTQ3MjQgZGVjb2NrLm9yZ19pNjU2dTk2bGFvcnBhZWV1YmQzbjdhOGVxZ0Bn&tmsrc=decock.org_i656u96laorpaeeubd3n7a8eqg%40group.calend

[2020-09-23 15:40] joostdecock commented on #563
That's awesome @Sewanista

I've scheduled the call. Details here: #570

For those of you whose email addresses are in my address book, I've sent you an invite.
There's a calendar link in #570 that does the same thing.

I'm closing this as we accomplished its goal :slightly_smiling_face:

[2020-09-23 15:40] #563 closed

[2020-09-23 17:12] DocSpencer77 commented on #563
Yay!! Super Duper on gathering resources to help us go forward in our collaboration @Sewanista  and @dfbean and @joostdecock and @rrolon47!  I'll post a link to a kind of "traditional method to code" bridge sample (not quite a tutorial, yet) some time today. In the next ~48hours I have to move heaven and earth and work a few data miracles,  %) but I'm very eager for us to gain traction and make Gr

[2020-09-24 01:45] DocSpencer77 commented on #563
Catching up and tying together a few loose ends.

- Linking in Rachel's @rrolon47 shared link to her annotated coding experimentation/tutorial.
https://discord.com/channels/698854858052075530/698854858496802868/757822990963703939
The link is to her mention of it in discord, but there she links to her Github reponsitory.  I took that a step further by adding a few comments and generating a pull req

[2020-09-25 12:52] joostdecock opened #572 "Re-Upload YouTube videos to our own channel"
- [x] Facemask video
- [x] Bruce boxers 1/2
- [x] Bruce boxers 2/2
- [x] Hugo 1/6
- [x] Hugo 2/6
- [x] Hugo 3/6
- [x] Hugo 4/6
- [x] Hugo 5/6
- [x] Hugo 6/6
- [x] Folding the cuff placket
- [x] Double welt pockets 1/2
- [x] Double welt pockets 2/2
- [x] Pattern assembly
- [x] Trousers 1/13
- [x] Trousers 2/13
- [x] Trousers 3a/13
- [x] Trousers 3b/13
- [x] Trousers 3c/13
- [x] Trousers 4a/13
- [x]

[2020-09-25 13:47] TawniS commented on #572
Hey, let me know when these are up and I'll add descriptions etc

[2020-09-25 13:55] joostdecock commented on #572
Will do :+1:

[2020-09-25 16:43] tangerineshark commented on #564
Just a status update: I've figured out Markdown but am still getting the hang of repositories and github overall. I will have everything written up in Markdown today, and either send it to you or merge it myself, so that there's at least a week for the folks on translation. Also, @TawniS is editing documentation, so I tagged her in here basically to acknowledge that she's awesome.

[2020-09-25 17:37] amysews commented on #570
Sorry guys, I've got unexpected guests staying with me this weekend so won't be able to join the call again.

[2020-09-26 03:43] tangerineshark commented on #564
I think I did it!! But also it's my first go, so apologies if I've instead created a disaster. I've tried to stick to the nomenclature I could see around the rest of the site, but LMK if there's anything I should change for the future.

[2020-09-26 08:33] joostdecock commented on #564
Wow, fantastic work @tangerineshark I'm really impressed by how quick you're picking all of this up :+1:

I made a few changes, but only because of the way the website is built. As a document as-such, your work was perfect :slightly_smiling_face:

### About frontmatter

We (typically) use so-called *frontmatter* to provide metadata about the content.
It is information that goes at the top of the p

[2020-09-26 08:33] #564 closed

[2020-09-27 08:07] joostdecock opened #573 "Port @Sewanista's skirt draft to freesewing"
This is a todo from #570

@Sewanista has a skirt draft that she's made in valentina/seamly, and it's already a parametric design. She's looking for someone to help her code it. @enyachoke offered to help her with that, so the idea is that the two of them can work on this together.

[2020-09-27 08:07] joostdecock commented on #573
I'm available for any help you need on this :slightly_smiling_face:

[2020-09-27 08:08] joostdecock opened #574 "Create a list of techniques/challenges for which we want to create examples of how to implement them in code"
This is a todo from #570

Please comment below with your suggestions

[2020-09-27 08:09] joostdecock opened #575 "Look into whether we can have the dev environment publish itself online"
This is a todo from #570

[2020-09-27 08:11] joostdecock opened #576 "Create a list of pattern drafting terms + explanations"
This is a todo from #570

Please comment below with your suggestions. See also: #574

[2020-09-27 08:13] joostdecock opened #577 "Pull examples from the current patterns to show how to do certain things in #574"
This is a todo from #570

Check for examples in:

- [ ] aaron
- [ ] benjamin
- [ ] bent
- [ ] breanna
- [ ] brian
- [ ] bruce
- [ ] carlita
- [ ] carlton
- [ ] cathrin
- [ ] diana
- [ ] florence
- [ ] florent
- [ ] holmes
- [ ] huey
- [ ] hugo
- [ ] jaeger
- [ ] paco
- [ ] penelope
- [ ] plugin-banner
- [ ] plugin-bundle
- [ ] plugin-bust
- [ ] plugin-buttons
- [ ] plugin-cutonfold
- [ ] plugin-di

[2020-09-27 08:15] joostdecock commented on #570
I've updated the notes and todos. Please feel free to comment to point out what I've forgotten or got wrong.

I'll also be closing this as the call if over, but don't let that stop you from commenting.

[2020-09-27 08:15] #570 closed

[2020-09-27 09:08] stoffsuchti commented on #576
Suggestions of pattern design elements that need to be documented/explained:

- Bust dart forms/variations
- Collar forms/variations
- Waist line form / hights
- Trouser styles / forms / length
- Skirt styles / forms / length
- Necklines (forms / styles)
- Pocket forms / styles / designs
- Dress styles / forms / lengths / designs
- Seams / Hems (whitch technics exists and what are they used for)

[2020-09-27 09:09] stoffsuchti commented on #573
I am curious to see the pattern or pictures / linedrawings

[2020-09-27 09:24] stoffsuchti opened #578 "Privacy Friendlyness of FreeSewing"
I am very worries in witch direction FreeSewing is evolving in a perspective of privacy. The use of discord and zoom ist excluding me nearly total from the daily business of FreeSewing. Why where BigBlueButton and Mumble nit considered? Why are the chats not based on Matrix/Riot/Elements?

It afraids me and I am very sad about this evolution.

[2020-09-27 09:41] stoffsuchti commented on #578
FreeSewing has no presence on i.e. Mastodon (open and federated Twitter alternative). That is sad to.

[2020-09-27 09:56] joostdecock commented on #578
First of all, our [privacy notice](https://freesewing.org/docs/about/privacy/) hasn't changed in over 2 years.
So saying that FreeSewing's privacy friendliness is changing is not correct.

Your gripe is with the people who volunteer their time to work on FreeSewing.
You're unhappy because they don't seem to care as much about privacy as you do. Or at least they make choices that are more pragmatic

[2020-09-27 09:56] #578 closed

[2020-09-27 10:37] Sewanista commented on #573
Ive posted a link to my dropbox in the discord, but to save you hunting around I'll post it here as well.
https://www.dropbox.com/sh/0ggk15j0c3h4yhd/AAAZDBI6fABpVOSsvtJsYOaBa?dl=0
Its a very simple straight skirt draft where I have converted the dart allowances to proportions rather than absolute values. It drafts up quite well over a wide range of sizes, with the caveat that it doesn't take into

[2020-09-27 10:38] Sewanista commented on #573
the file I've linked to includes the Seamly pattern, a selection of varying measurement set files and a pdf of the drafting method written out for drafting on paper.

[2020-09-27 13:00] enyachoke commented on #573
Thanks @Sewanista  am starting to lay down the today I will update you on this issue on the progress and any questions I could have.

[2020-09-28 04:04] tangerineshark commented on #564
Yaaaayyyy!!! I can absolutely review documentation about, well, documentation I suppose. It's probably perfect timing, since I haven't internalized any of the undocumented bits yet.

[2020-09-28 07:50] joostdecock commented on #572
@TawniS All done :slightly_smiling_face:
Would you like me to create issues for you to do the descriptions and so on?
Depends on whether you get a dopamine hit from closing a todo, or not :wink:

[2020-09-28 07:50] #572 closed

[2020-09-28 14:54] TawniS commented on #572
Haha I think I can work with it this way! Thanks :) I'll make them public as I update them over the next couple of days

[2020-09-30 05:29] joostdecock opened #582 "Allow a higher value for shoulder slope measurement"
Shoulder slope is currently capped at 20 degrees, but that's probably too low for a hard upper limit.

I suggest 25 instead.

[2020-10-01 00:08] tangerineshark opened #584 "Teagan Announcement blog post"
Okay, I don't think this issue is strictly necessary, but I'd never made one before and I **will** get better at using Github's features. Plus it allows me to:

Ask @joostdecock two questions before committing edits (although I can move them to discord if preferred):
1. Can I change the language around who the pattern is for? Specifically, I think your goal of sewing patterns for all is pretty gen

[2020-10-01 00:17] tangerineshark commented on #584
ooh, perhaps I can't assign participants and am just talking to myself. ah well, to discord!

[2020-10-01 06:13] joostdecock commented on #584
You can do whatever you want. The blog post is yours now. Have at it 😃

Not yet. I tried adding in the google calendar thing but it's rather clunky and I wasn't happy with it. I need to find a more elegant way 🤔

[2020-10-02 10:47] #539 closed

[2020-10-02 10:55] joostdecock opened #589 "Fix open-graph tags in website SSR code"
The open graph tags for title, image, description are only set on first render, but not in the server-side render code.

The result is that previews in twitter/discord and whatnot look like this:

![Screenshot from 2020-10-02 12-54-40](https://user-images.githubusercontent.com/1708494/94916178-7cd3ad80-04ae-11eb-8a59-c832a3fa0616.png)

[2020-10-03 12:03] joostdecock commented on #561
Oops, closed this by accident

[2020-10-03 12:14] creasyo commented on #567
Sorry for the radio silence. Its been a very busy couple of weeks!

The tutorials are now edited together and I am just exporting them and uploading them to YouTube now. Should be done by this afternoon!

[2020-10-03 13:33] Sewanista commented on #561
I'm not going to make this call, I need an early night. I'm away from my studio next week but I'll keep up with the discussions on Discord.

[2020-10-03 13:44] joostdecock commented on #561
Thanks for letting us know @Sewanista Sweet dreams :sleeping:

[2020-10-03 13:55] joostdecock commented on #545
Fixed on the website and the monorepo.
Still do to in the backend (for emails) and the freesewing.dev site.
So keeping this open now, but it's no longer a blocker for the 2.9 milestone

[2020-10-03 13:55] #584 closed

[2020-10-03 13:55] #589 closed

[2020-10-03 13:56] joostdecock commented on #544
This feels a bit under-cooked to me, so I'm taking this out of the 2.9 milestone until we figure out how this would work

[2020-10-03 13:57] joostdecock commented on #525
There's probably room for improvement, but they are there at least

[2020-10-03 13:57] #525 closed

[2020-10-03 14:00] joostdecock commented on #542
I don't have time for this and it seems silly to not meet the deadline out of this, since it's a website-only change.
So I'm taking this out of the 2.9 milestone

[2020-10-03 14:19] #582 closed

[2020-10-03 15:49] wooorm opened #592 "remark@next (13)"
Hi!

remark is switching to a new parser internally ([micromark](https://github.com/micromark/micromark), see [`remarkjs/remark#536`](https://github.com/remarkjs/remark/pull/536) for more info).
From a quick glance at the code (remark-jargon), it seems this plugin should be fine. However, it would be good to check that in the future (there is `13.0.0-alpha.0` published now, and one or two more wil

[2020-10-04 07:59] #562 closed

[2020-10-04 08:00] joostdecock commented on #567
Great work @creasyo thanks a bunch :pray:

[2020-10-04 08:00] #567 closed

[2020-10-04 08:40] joostdecock opened #593 "Contibutor call: October 17th 2020"
You are all invited to the contributor call.
Please leave a comment to put things on the agenda. This issue will be updated after the call with notes and todos.

## About

 - Location: https://meet.freesewing.org (redirects to https://zoom.us/j/5168598687 )
 - Date: Saturday October 17, 2020 16:00 UTC, which is:
   - Los Angeles: 09:00
   - Chicago: 11:00
   - New York: 12:00
   - São Paulo: 13:00

[2020-10-04 08:48] joostdecock opened #594 "Ask around whether we need to keep multi-lingual developer docs"
This is a todo from #561

The question was raised whether it is worth the effort to maintain multi-lingual developer documentation.
There was some back and forth on the contributor call about this, and it was suggested that we _ask around_ to see whether anybody uses this.

So: Do you use/need the non-English documentation at freesewing.dev?

[2020-10-04 08:55] joostdecock opened #595 "Bring developer documentation site in line with recent work on website"
This is a todo from #561

The developer documenation on freesewing.dev has a few issues that need addressing:

 - it's not up to date with the latest API changes (see #552 and #549)
 - it is not so easy to find things
 - it is no longer visually in step with freesewing.org

We should address this

[2020-10-04 08:57] joostdecock commented on #561
While writing these notes I was wondering: should we setup a newsletter-team (which would mean at least a discord channel) to coordinate the newsletter things?

[2020-10-04 08:57] joostdecock commented on #561
I'm closing this as the call is over, but don't let that discourage you from commenting

[2020-10-04 08:57] #561 closed

[2020-10-04 09:45] stoffsuchti opened #596 "Handbag Hortensia"
![image](https://user-images.githubusercontent.com/1039463/95012152-49238f80-0636-11eb-8032-cb2b084e1e83.jpeg)

Handbag Hortensia will be a pattern created by me, but I will need someone who makes the coding part of it. When i have drawn the the pattern and testsewing the hole bag, and written the documentation, i'll reach out for help for the coding part (I can not code) (I can sew, draw patterns

[2020-10-04 10:00] enyachoke commented on #596
@stoffsuchti  as soon you get the paper pattern done ping the team on discord.

[2020-10-04 10:13] stoffsuchti commented on #596
@enyachoke thank you. But I am not on discord and will not be there anytime. But I'll ping you and @joostdecock here if its okay?

[2020-10-04 10:19] joostdecock commented on #596
Sure thing @stoffsuchti :+1:

[2020-10-04 11:25] enyachoke commented on #596
@stoffsuchti  here works too.

[2020-10-04 17:40] tangerineshark commented on #561
Hey! If you'd like, I can have a go at the Paco documentation before Oct. 17th. I'll probably have to check back in on the elasticated cuff to see what people like best, but I could at least take care of some of the legwork.

[2020-10-04 17:54] stoffsuchti commented on #596
Thank you all

[2020-10-04 18:39] stoffsuchti commented on #596
![image](https://user-images.githubusercontent.com/1039463/95024135-7e090400-0681-11eb-951b-afa3bd24dcc9.jpeg)

Scribble of the outer pattern pieces, the lining will be layouted, when a have the pattern of the outer pieces

[2020-10-04 20:35] woutervdub commented on #596
I can help with this. How would you like to communicate?

[2020-10-04 21:04] stoffsuchti commented on #596
Thank you @woutervdub prefer Matrix/Elements, Threema, Signal for communication. But I'm not ready for implementation at the moment, first I need to draw the pattern and make one or mor sample bags :)

[2020-10-04 22:27] woutervdub commented on #596
No problem. Just let me know when you're ready.

[2020-10-05 03:46] freesewing-bot opened #634 "Error while drafting titan"
An error occured while drafting titan and a [crash report](https://gist.github.com/2bdcd22c1df12440cadb2af36d2e5769) was generated.

[2020-10-05 06:18] joostdecock opened #598 "Update instructions for waist circumference measurement"
The instructions say to measure below the ribcage, when they should say to measure the narrowest part of the waist

[2020-10-05 07:46] joostdecock commented on #561
I see what you did there :slightly_smiling_face:

That would be awesome. Really :heart:

[2020-10-11 17:29] joostdecock commented on #594
English it is

[2020-10-11 17:29] #594 closed

[2020-10-11 17:31] joostdecock commented on #595
I'm closing this, because I've already done a lot of work on this. And while it's not completely finished, it's much more motivating to close issues :)

[2020-10-11 17:31] #595 closed

[2020-10-11 17:32] joostdecock commented on #577
See freesewing.dev

[2020-10-11 17:32] #577 closed

[2020-10-11 17:32] joostdecock commented on #574
See freesewing.dev

[2020-10-11 17:32] #574 closed

[2020-10-12 18:02] tangerineshark commented on #561
Hi! So I have a rough draft of Paco documentation, and I'm currently editing it as I work through making the pants myself, so I can catch errors. I'm taking pictures as I go (they're just photos for now, but I could translate them to digital sketches/illustrations with a bit of time). Do you have a preferred method for editing documentation (and is it just uploading via pull request)? Do you like

[2020-10-13 05:49] joostdecock commented on #561
@tangerineshark hey that's awesome 🎉

You can publish what you have. And iterate on it later.

The idea that something has to be perfect before you put it online can be paralyzing. If what you have is one iota better than what's on the site now (which is nothing), then push get out there.

Also: pictures are fine 👍

[2020-10-18 09:13] joostdecock opened #612 "Create showcase from JV's Sandy"
- Content: https://twitter.com/RedBlaqueGolden/status/1317565349261434880
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: https://twitter.com/RedBlaqueGolden/status/1317752221933633537

[2020-10-18 09:16] joostdecock opened #613 "Create showcase from Karen's teagan"
- Content: https://www.instagram.com/p/CGcpH2UFlR2/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Can you comment to ok this @tangerineshark ?

[2020-10-18 09:50] joostdecock opened #614 "Contributor call: October 31st, 2020"
You are all invited to the contributor call.
Please leave a comment to put things on the agenda. This issue will be updated after the call with notes and todos.

## About

 - Location: https://meet.freesewing.org (redirects to https://zoom.us/j/5168598687 )
 - Date: Saturday October 31, 2020 16:00 UTC, which is:
   - Los Angeles: 09:00
   - Chicago: 11:00
   - New York: 12:00
   - São Paulo: 13:00

[2020-10-18 09:52] joostdecock commented on #593
Closing this in favor of #614 but this is still the place to commend with feedback/corrections about last night's call.

[2020-10-18 09:54] joostdecock opened #615 "Create showcase for Julian's simon"
- Content: https://www.instagram.com/p/CER161PAv0P/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask Julian

[2020-10-18 09:55] joostdecock opened #616 "Create showcase for Simon by celtichomestead"
- Content: https://www.instagram.com/p/CCltTnDgKTr/
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: please ask celtichomestead on instagram

[2020-10-18 09:57] joostdecock opened #617 "Create Simon/Florence showcase from popshade post"
- Content: https://www.instagram.com/p/B-2b01sALB_/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask popshade on instagram

[2020-10-18 10:00] joostdecock opened #618 "Create showcase for Charlotte's Carlton"
- Content: https://www.instagram.com/p/B72tXp5gbir/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask Charlotte (EngishGirlAtHome)

[2020-10-18 10:01] joostdecock opened #619 "Create Wahid showcase from instagram post"
- Content: https://www.instagram.com/p/B5Hi3ynA0r_/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask kaena.mackinnon on Instagram

[2020-10-18 10:03] joostdecock opened #620 "Create jaeger/wahid/simon/theodore showcase from Instagram post"
- Content: https://www.instagram.com/p/B2evN26oVdr/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask the original author for permission

[2020-10-18 10:04] joostdecock opened #621 "Create florent showcase from Instragram post"
- Content: https://www.instagram.com/p/B16te2couT6/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask the original author for permission

[2020-10-18 10:05] joostdecock opened #622 "Create Huey showcase from instagram post"
- Content: https://www.instagram.com/p/Bz3jSeJIiYG/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: @annekecaramin can you please comment to give your approval

[2020-10-18 10:07] joostdecock opened #623 "Create theodore showcase from instagram post"
- Content: https://www.instagram.com/p/ByA7YXUiXxM/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask the original author

[2020-10-18 10:08] joostdecock opened #624 "Create huey showcase from instagram post"
- Content: https://www.instagram.com/p/BxpndByIgAQ/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask the original author for permission

[2020-10-18 10:11] joostdecock opened #625 "Create simon showcase from instragram post"
- Content: https://www.instagram.com/p/Bu_aiD8H3Lg/?utm_source=ig_web_copy_link
 - Howto: https://freesewing.dev/editors/showcase/
 - Permission: Please ask the original author for permission

[2020-10-18 10:13] joostdecock opened #626 "Create simon showcase from instagram post"
- Content: https://www.instagram.com/p/BuT-mIoHrWc/?utm_source=ig_web_copy_link
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask the original author for permission

[2020-10-18 11:45] annekecaramin commented on #622
Doe maar!

[2020-10-18 11:54] joostdecock opened #627 "Create jaeger showcase from instragram post"
- Content: https://www.instagram.com/p/Bo_r6iNnaRF/?utm_source=ig_web_copy_link (make sure to also post the YouTube video)
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask permission from the original author

[2020-10-18 11:55] joostdecock opened #628 "Create simon showcase from instagram post"
- Content: https://www.instagram.com/p/BnD6OL-BtMr/?utm_source=ig_web_copy_link
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask the original author for permission

[2020-10-18 11:56] joostdecock opened #629 "Create Jaeger showcase from instagram post"
- Content: https://www.instagram.com/p/BnBDQ4Xh9G0/?utm_source=ig_web_copy_link
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask the original author for permission

[2020-10-18 11:58] joostdecock opened #630 "Create theodore/wahid showcase from instagram posts"
- Content:
  - https://www.instagram.com/p/Bm5y6JWngl2/?utm_source=ig_web_copy_link
  - https://www.instagram.com/p/Bm8m9TznpfK/?utm_source=ig_web_copy_link
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask the original author for permission

[2020-10-18 11:59] joostdecock opened #631 "Create sandy showcase from instagram post"
- Content: https://www.instagram.com/p/BmiiX7jARTd/?utm_source=ig_web_copy_link
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Please ask the original author for permission aka @annekecaramin

[2020-10-18 12:07] annekecaramin commented on #631
okido!

[2020-10-18 18:08] freesewing-bot opened #632 "Error while drafting theo"
An error occured while drafting theo and a [crash report](https://gist.github.com/c8bd88a0ce1b6737bd8f067a80806240) was generated.

[2020-10-18 18:18] tangerineshark commented on #613
This is definitely okay! And I haven't uploaded anything to a showcase yet, but it looks like something I could figure out, so I can also take this issue. 😄

[2020-10-19 14:14] joostdecock opened #633 "Create Simon showcase from Discord post"
- Content: https://discordapp.com/channels/698854858052075530/698854858496802868/767718513418043393
- Howto: https://freesewing.dev/editors/showcase/
- Permission: Granted by Stefan on discord

[2020-10-20 06:53] #613 closed

[2020-10-20 12:34] ElenaFdR commented on #633
Hey, I can start on this now (but I can't assign myself!)

[2020-10-20 13:08] ElenaFdR commented on #612
I can take this! But not assign myself.

[2020-10-20 13:35] ElenaFdR commented on #598
I can take this, but not assign myself!

[2020-10-20 13:40] joostdecock commented on #612
@ElenaFdR I've sent you an invite for the freesewing organisation.
Once you've accepted, you will have triage rights, and thus can assign issues to yourself or even to others.

Let me know if that doesn't work out somehow.

Also: Thank you for your contributions. It's really appreciated :heart:

[2020-10-20 13:41] ElenaFdR commented on #598
Does this change affect the [waist back](https://freesewing.org/docs/measurements/waistback/) back as well?

[2020-10-20 14:01] ElenaFdR commented on #631
I can do this!

[2020-10-20 14:27] ElenaFdR commented on #631
@annekecaramin, can I grab all the photos from your blogpost for this?

[2020-10-20 14:37] annekecaramin commented on #631
Sure! No problem :)

[2020-10-20 16:22] #633 closed

[2020-10-20 16:23] #612 closed

[2020-10-20 16:25] #598 closed

[2020-10-20 16:26] #631 closed

[2020-10-20 16:35] #593 closed

[2020-10-21 08:00] joostdecock opened #636 "Setup issue templates"
For showcase, blog posts, but also other things.
As suggested in https://github.com/freesewing/markdown/pull/129#issuecomment-713374214

[2020-10-21 17:04] freesewing-bot opened #637 "Error while drafting breanna"
An error occured while drafting breanna and a [crash report](https://gist.github.com/52ecfd9d918e0b21df7c8d05219c4b1b) was generated.

[2020-10-22 02:27] freesewing-bot opened #638 "Error while drafting wahid"
An error occured while drafting wahid and a [crash report](https://gist.github.com/c3692b06b255993e65ce01730dc852cd) was generated.

[2020-10-22 05:39] joostdecock opened #639 "Add confirmation step prior to removing person"
![Screenshot_20201022-073547.png](https://user-images.githubusercontent.com/1708494/96829240-7abf9780-1439-11eb-94b0-6fcc3f280e1d.png)

Clicking the big red button removes the person. We could protect people from accidents by adding a confirmation step.

[2020-10-22 12:24] joostdecock opened #642 "[simon] Feature request to make the yoke configurable"
Stefan writes on Discord:

Perfect would be the option of moving the yoke's front seam forward and backward, and also the yoke's back seam upward/downward for adjusting the yoke's width.

![Simon_yoke_seams](https://user-images.githubusercontent.com/1708494/96871157-297fca00-1472-11eb-8932-46963407f9ba.jpg)

[2020-10-24 15:51] joostdecock commented on #592
Tested this with the new 13 release, and I can confirm that the plugin works fine.

Thanks for all your great work :heart:

[2020-10-24 15:51] #592 closed

[2020-10-24 18:31] stoffsuchti opened #647 "Cant enter some Measurment."
On the Person https://freesewing.org/people/veuft/  i cant enter some measurments.
<img width="1425" alt="Bildschirmfoto 2020-10-24 um 20 19 42" src="https://user-images.githubusercontent.com/1039463/97089265-e6bb1f00-1636-11eb-90f3-c3ef5b90427e.png">
If i click on the pencil on the right

I end on the front page and can't go back to the measurement page.

<img width="1678" alt="Bildschirmfoto 202

[2020-10-25 09:01] joostdecock commented on #647
Those are old measurements that have been deprecated, and don't exist any longer.
But they still show up in the person if they were added before we changed them (in 2.7 if memory serves me well).

I'll look into hiding them from the UI.

[2020-10-25 09:56] joostdecock commented on #647
Reload your account, it should be ok now.

[2020-10-25 09:56] #647 closed

[2020-10-25 11:57] stoffsuchti commented on #596
![image](https://user-images.githubusercontent.com/1039463/97106380-76a5ab00-16c1-11eb-9137-0582cebedd40.jpeg)

I made the paper pattern. I will digitize it to jpg or vector in the following 2-3 weeks

[2020-10-25 12:10] joostdecock commented on #596
I think the main issue is to have an idea of the size. If you put a ruler on top of this, that's probably sufficient.

[2020-10-25 14:21] stoffsuchti commented on #596
I will provide you with neat and exact sizing Information in the following days. Can you work with a scan of the piece that is roundly (curved) schaped? It would be a bitmap, not a vector, that would be much quicker for me to create.

[2020-10-25 14:26] stoffsuchti commented on #647
it seems to work

[2020-10-25 14:55] joostdecock commented on #596
Sure, no worries :)

[2020-10-25 22:48] woutervdub commented on #596
Would you like this to become sizeable?

And if so, would you like all the sizes move up and down using the same ratio for depth, width, and height?

[2020-10-29 05:14] freesewing-bot opened #654 "Error while drafting paco"
An error occured while drafting paco and a [crash report](https://gist.github.com/571502631560dbd602b7dd8bfd51c9ab) was generated.

[2020-10-29 15:46] stoffsuchti commented on #596
Yeah at the end I would like to have it Sizeable, but not to the infinity.

It will take me some more time to provide you the measurements, dimensions and the relations of measurements baked in to that Handback, there ist a lot golden Ration (phi) around here 🤣🌈.

And I would like, when it gets sizable, that the proportions will be respected and not distorded.

[2020-10-29 16:45] freesewing-bot opened #655 "Error while drafting paco"
An error occured while drafting paco and a [crash report](https://gist.github.com/ba227876a9e953ef1c56640c77f2051b) was generated.

[2020-10-29 19:40] woutervdub commented on #596
We can just set up a standard size, and then make a slider that lets you generate a larger or smaller one, based on a percentage of the original, with minimum and maximum values.

So the normal width would be (just grabbing something out of thin air): 30cm.
The slider would allow you to change that to between 30% and 200%

@joostdecock Should we make this Ant Man compatible? That would turn into "

[2020-10-31 16:09] timorl opened #661 "Jargon terms white on white in dark mode"
As seen here: ![screenshot](https://user-images.githubusercontent.com/4363804/97783956-79aa0b00-1b9b-11eb-985d-379237ee0d5f.jpg)

It seems the `background` property in the CSS is not overwritten for the `jargon-term` element in dark mode.

I wanted to make this a PR instead of an issue, but the way you generate CSS is over my head, sorry. :<

[2020-11-01 07:57] freesewing-bot opened #662 "Error while drafting paco"
An error occured while drafting paco and a [crash report](https://gist.github.com/cd7f24459877e2a4c7b6bc917f5a68af) was generated.

[2020-11-01 18:21] freesewing-bot opened #663 "Error while drafting paco"
An error occured while drafting paco and a [crash report](https://gist.github.com/facf2f17a6beb9cca97d4b13fe871d7b) was generated.

[2020-11-02 12:48] joostdecock opened #664 "Titan does not handle waist > seat very well"
Titan tends to go off the rails when the waist measurement is higher than the seat measurement.
Unfortunately, this is not uncommon especially with men who tend to carry their weight more in the abdominal region rather than on the hips.

Fortunately, Titan already uses the waist and back waist measurements, so there is no technical reason why this shouldn't work.
We just have to figure out how to

[2020-11-02 12:49] joostdecock commented on #664
Tagging @dfbean and @Sewanista for their input on this design challenge

[2020-11-02 12:52] joostdecock commented on #663
Closing in favor of #664

[2020-11-02 12:52] #663 closed

[2020-11-02 12:55] joostdecock commented on #654
Closing in favor of #664

[2020-11-02 12:55] #654 closed

[2020-11-02 12:58] joostdecock commented on #635
It when you take off the elasticated hem, the legs are drafted longer, that's what makes the pattern look different.

[2020-11-02 12:58] joostdecock commented on #635
Closing in favor of #664

[2020-11-02 12:58] #635 closed

[2020-11-02 15:12] #661 closed

[2020-11-02 15:14] joostdecock commented on #661
Thanks for reporting this. Fix is being build/deployed.

![Screenshot from 2020-11-02 16-13-32](https://user-images.githubusercontent.com/1708494/97884508-72fbcf00-1d26-11eb-821d-f8dc24fef24b.png)

[2020-11-02 15:20] #622 closed

[2020-11-07 01:47] freesewing-bot opened #672 "Error while drafting simone"
An error occured while drafting simone and a [crash report](https://gist.github.com/edda7ea41c5af0acb2101838a022c09e) was generated.

[2020-11-07 09:41] stoffsuchti commented on #596
So ich schreibe die Masse zu dem Schnittmuster auf Deutsch auf, und füge Bilder an. Ich kann zu einem späteren Zeitpunkt gerne versuchen es zu übersetzten.

Ganz wichtig ist, dass wenn die Tasche Skaliervar gemacht wird, oben der Platz für den Reissverschluss nicht skaliert wird, sondern vom Benutzer in absoluten Massen eingegeben werden kann. Bei Reissverschluss soll die am Ende sichtbare Breite

[2020-11-07 10:20] stoffsuchti commented on #596
![Parts Overview Hortensia](https://user-images.githubusercontent.com/1039463/98438002-5aedcc00-20e7-11eb-8959-6dc83895ca85.png)

### Übersichtsplan der Teile.

**T1 Seitenteil**
- h1 Höhe Seitenteil
- b2 Breite Seitenteil

**T2 Bodenverstärkung Seitenteil**
- h2 Höhe Bodenverstärkung Seitenteil
- b2 Breite Bodenverstärkung Seitenteil

**T3 Bodenteil aussen**
- h3 Höhe Bodenteil aussen
- b3 Breite

[2020-11-07 10:21] stoffsuchti commented on #596
![Side Pannel Hortensia](https://user-images.githubusercontent.com/1039463/98438575-6c38d780-20eb-11eb-8558-fca7cddb0692.jpg)
Scan of the Sidepannel

[2020-11-07 10:38] stoffsuchti commented on #596
@joostdecock @woutervdub do you speek a bit of German or is the translation require in any scenario?

[2020-11-07 10:51] stoffsuchti commented on #596
## Lining and Interlining

When I sew the first real Bag, i will create the pattern peaces for the lining and the interfacing. Most of those part will be rectangles and a slightly smaller and or altered side panel

[2020-11-07 23:04] woutervdub commented on #596
@stoffsuchti I'll start working on this.

What is your neck-circumference?

[2020-11-07 23:13] woutervdub commented on #596
@stoffsuchti I'll start working on this.

When you say that the zipper width/length should be open to the uer entering it, does that mean that all the other measurements should adapt, according to the ratios inherit in this version you detailed here?

Meaning, you now have a zipper width of 53.4 cm, with a side panel of 33 high. So if we make the zipper width 26.7, we should get a side panel heigh

[2020-11-08 11:07] joostdecock commented on #596
@woutervdub While made-to-measure is nifty and *our thing*, I don't think we should be slaves to it. Patterns don't _have to_ user measurements, and this seems like a good candidate for one that doesn't.

So Perhaps we just need some sort of *handbag-size* option that has a list of things to pick from that in reality is just a list of standard zipper sizes. That 1 option can then determine the siz